@use '../../2_init/1_mixins.scss' as mixins;
@use '../../2_init/3_layout.scss' as layout;

.footer.player {
    //padding-bottom: $padding_left_right;

    @include mixins.respond(mobile) {
        padding-bottom: 0;

        button {
            padding-top: 0;
            padding-bottom: 0;
        }

        & > div {
            margin: auto 0;
        }
    }

    .timeline {
        width: 100%;
        height: 8px;
        border-radius: 8px;
        position: relative;
        top: -4px;
    }
    // image
    .cover {
        max-height: layout.$height_player;
        max-width: layout.$width_player_image;
        width: layout.$width_player_image;
        padding-right: layout.$padding_left_right;

        img {
            position: relative;
            bottom: layout.$bottom_player_image;
            max-height: layout.$width_player_image;
            max-width: layout.$width_player_image;
        }
    }
    // info
    .actions.primary {
        .time {
            button {
                padding: 0;
            }
        }
    }

    .info {
        font-size: 20px;

        button {
            font-size: 20px;
        }

        @include mixins.respond(mobile) {
            font-size: 18px;

            button {
                font-size: 18px;
            }
        }

        .details {
            padding-top: layout.$padding_button;
            padding-bottom: layout.$padding_button;

            @include mixins.respond(mobile) {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        @include mixins.respond(mobile) {
            padding-bottom: 0;

            .info .details,
            button {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        button {
            padding: 0;
        }
    }

    .actions.secondary {
        .date {
            button {
                padding: 0;
            }
        }
    }
}