@use '../2_init/3_layout.scss' as layout;

// FILTER MENU (SECONDARY MENU)

// pc/tablet menu (header)
//.header.secondary .menu.filter {}

// mobile menu (footer)

.header.secondary .menu.filter,
.footer.secondary.menu.filter {
    text-align: left;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    margin: auto 0;
    width: 100%;

    .actions {
        margin-right: 0;
        margin-left: auto;
    }
}

.footer.secondary.menu.filter {
    button {
        &:first-child {
            margin-left: layout.$padding_left_right;
        }

        &:last-child {
            margin-right: layout.$padding_left_right;
        }
    }
}