@use '../2_init/1_mixins.scss' as mixins;
@use '../2_init/3_layout.scss' as layout;

.body.hide-player .footer.menu.mobile {
    bottom: calc(#{layout.$height_menu_mobile_releases} + #{layout.$height_menu_mobile_filter});

    .items {
        max-height: calc(100vh - #{layout.$height_menu_mobile_releases} - #{layout.$height_menu_mobile_filter});
    }
}

.footer.menu.mobile {
    position: fixed;
    bottom: calc(#{layout.$height_player_mobile} + #{layout.$height_menu_mobile_releases} + #{layout.$height_menu_mobile_filter});
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // button to show/hide menu
    .round {
        border-radius: 12px;
        height: layout.$height_menu_mobile_round_button;
        width: 40px;
        display: inline-flex;
        margin-right: 5px;
        margin-left: auto;
        z-index: 1;
        right: 10px;
        position: relative;

        i {
            margin: auto;
            font-size: layout.$height_menu_mobile_round_button;
        }

        &.show-hide.mobile {
            z-index: 3;
        }

        &-text {
            text-align: right;
            height: auto;
            width: auto;
            font-size: 18px;

            i {
                margin-left: layout.$margin_right_icon;
            }
        }

        @include mixins.respond(watches) {
            width: 40px;

            span {
                display: none;
            }

            i {
                margin: auto;
            }
        }
    }

    .items {
        position: absolute;
        overflow: auto;
        bottom: 0;
        right: 0;
        z-index: 2;
        min-width: layout.$width_menu_mobile_items;
        width: layout.$width_menu_mobile_items;
        max-height: calc(100vh - #{layout.$height_player_mobile} - #{layout.$height_menu_mobile_releases} - #{layout.$height_menu_mobile_filter});
        //display: none;
        display: grid;

        &.active {
            display: block;
        }

        p {
            cursor: default;
            padding: 10px 10px 0 10px;
        }

        button {
            padding-left: 20px;
            padding-right: 20px;

            i {
                display: none;
            }
        }

        button,
        p {
            display: block;
            text-align: left;

            &:first-child {
                margin-top: layout.$height_menu_mobile_round_button;
            }

            &:last-child {
                margin-bottom: layout.$height_menu_mobile_round_button;
            }
        }

        @media screen and (max-width: layout.$width_menu_mobile_items) {
            width: 100%;
            min-width: 100%;
            word-wrap: anywhere;
        }

        @include mixins.respond(watches) {
            bottom: 20px;

            p,
            button span {
                display: none;
            }

            button {
                display: flex;
                padding: 10px;

                i {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}