@using MusicReleases;
@using MusicReleases.Api.Spotify.Objects
@inject NavigationManager NavManager

<div class="menu artists items scroll">
    @if (Api.Spotify.Main.User == null)
    {
        <p>User not logged in</p>
        <button @onclick=UpdatePlaylists>Update</button>
    }
    else
    {
        @if (_artists == null)
        {
            <p>Loading artists...</p>
        }
        else if (_artists.Count < 1)
        {
            <p>0 artists</p>
            <button @onclick=UpdatePlaylists>Update</button>
        }
        else
        {
            @foreach (var artist in _artists)
            {
                <button class="artist" data-menu_type="artist" data-menu_artist="playlist-id-@artist.Id">@artist.Name</button>
            }
        }
    }
</div>

@code
{
    [Parameter]
    public Enums.ServiceType ServiceType { get; set; }

    private SortedSet<Artist> _artists;

    protected override async Task OnInitializedAsync()
    {
        if (ServiceType == Enums.ServiceType.Spotify)
        {
            // TODO show loader
            // display playlists
            if (Api.Spotify.Main.User == null) return;

            _artists = await Api.Spotify.Main.User.GetArtists();
        }
    }

    private async Task UpdatePlaylists()
    {
        _artists = await Api.Spotify.Controller.GetArtists();
        StateHasChanged();
    }
}
