@using MusicReleases;
@using MusicReleases.Api.Spotify.Objects
@inject NavigationManager NavManager
@inject IUser spotifyUser

<div class="menu playlists items scroll">
    @if (spotifyUser.LoggedIn == null)
    {
        <p>User not logged in</p>
        <button @onclick=UpdatePlaylists>Update</button>
    }
    else
    {
        @if (_playlists == null)
        {
            <p>Loading playlists...</p>
        }
        else if (_playlists.Count < 1)
        {
            <p>0 playlists</p>
            <button @onclick=UpdatePlaylists>Update</button>
        }
        else
        {
            @foreach (var playlist in _playlists)
            {
                <MusicReleases.Web.Components.LoggedIn.Menus.Main.Buttons.Playlist PlaylistId=@playlist.Id PlaylistName=@playlist.Name></MusicReleases.Web.Components.LoggedIn.Menus.Main.Buttons.Playlist>
            }
        }
    }
</div>

@code
{
    [Parameter]
    public Enums.ServiceType ServiceType { get; set; }

    private HashSet<Playlist> _playlists;

    protected override async Task OnInitializedAsync()
    {
        if (ServiceType == Enums.ServiceType.Spotify)
        {
            // TODO show loader
            // display playlists
            if (spotifyUser.LoggedIn == null) return;

            _playlists = await spotifyUser.GetPlaylists();
        }
    }

    private async Task UpdatePlaylists()
    {
        _playlists = await spotifyUser.GetPlaylists();
        StateHasChanged();
    }
}
