@using JakubKastner.MusicReleases.Base;
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Main.Buttons
@using JakubKastner.MusicReleases;
@using JakubKastner.SpotifyApi.Objects
@inject NavigationManager NavManager
@inject JakubKastner.SpotifyApi.Controllers.ControllerUser controllerUser
@inject JakubKastner.SpotifyApi.Controllers.ControllerPlaylist controllerPlaylist

<div class="menu playlists items scroll buttons-rounded-m">
    @if (!controllerUser.IsLoggedIn())
    {
        <p>User not logged in</p>
        <button @onclick=UpdatePlaylists>Update</button>
    }
    else
    {
        @if (_playlists == null)
        {
            <p>Loading playlists...</p>
        }
        else if (_playlists.Count < 1)
        {
            <p>0 playlists</p>
            <button @onclick=UpdatePlaylists>Update</button>
        }
        else
        {
            @foreach (var playlist in _playlists)
            {
                <Playlist PlaylistId=@playlist.Id PlaylistName=@playlist.Name></Playlist>
            }
        }
    }
</div>

@code
{
    [Parameter]
    public Enums.ServiceType ServiceType { get; set; }

    private HashSet<SpotifyApi.Objects.Playlist>? _playlists;

    protected override async Task OnInitializedAsync()
    {
        if (ServiceType == Enums.ServiceType.Spotify)
        {
            // TODO show loader
            // display playlists
            if (!controllerUser.IsLoggedIn()) return;

            _playlists = await controllerPlaylist.GetUserPlaylists(true);
        }
    }

    private async Task UpdatePlaylists()
    {
        _playlists = await controllerPlaylist.GetUserPlaylists(true);
        StateHasChanged();
    }
}
