@using MusicReleases.Web.Components.LoggedIn.Menus.Main.Buttons
@using static JakubKastner.SpotifyApi.Enums

<div class="menu releases icon-text items scroll">
    <Release ReleaseType=@ReleaseType.Albums></Release>
    <Release ReleaseType=@ReleaseType.Tracks></Release>
    <Release ReleaseType=@ReleaseType.Appears></Release>
    <Release ReleaseType=@ReleaseType.Compilations></Release>
    <Release ReleaseType=@ReleaseType.Podcasts></Release>
    <User></User>
</div>

@code
{

}