@use 'global/layout' as layout;
@use 'global/mixins' as mixins;

.active {
    background-color: var(--color-3);
    border-radius: 5px;
}

.year {

    @include mixins.hover-active('&.active') {
        background-color: var(--color-2);
        border-radius: 999px;
    }

    &.hide-mobile {
        display: none;

        @include layout.respond(pc-tablet) {
            display: flex;
        }
    }

    &.show-mobile {
        margin-left: auto;
        padding: 9px 30px;
        align-items: center;

        @include layout.respond(pc-tablet) {
            display: none;
        }
    }
}

.month-list {
    &.hidden {
        display: none;
    }
}