@if (FilteredYearMonth is null)
{
    <p>0 releases</p>
}
else
{
    <ul class="year-list">
        @foreach (var year in FilteredYearMonth)
        {
            <DateSidebarYearButton Year="@year.Key" Months="@year.Value" />
        }
    </ul>
}   