@use 'sass:map';
@use 'mixins' as mixins;

:root {
    --color-spotify: #1EF760;
    --color-project: #19B16A;
    --color-project-2: #169F5F;
    --color-project-3: #567466;
}

// TODO color theme https://coolors.co/293f14-386c0b-388a06-38a700-31d843-3eff8b-50ff96
$themes: 
( 
    light: 
    ( 
        color-1: rgb(255, 255, 255), 
        color-2: rgb(245, 245, 245),
        color-3: rgb(235, 235, 235),
        color-4: rgb(225, 225, 225),
        color-5: rgb(215, 215, 215), 
        color-6: rgb(205, 205, 205), 
        color-7: rgb(195, 195, 195),
        color-text-1: rgb(0, 0, 0), 
        color-text-2: rgb(150, 150, 150),
        color-text-button: rgb(0, 0, 0),
    ), 
    dark: 
    (
        color-1: rgb(6, 6, 6), 
        color-2: rgb(16, 16, 16), 
        color-3: rgb(26, 26, 26),
        color-4: rgb(36, 36, 36), 
        color-5: rgb(46, 46, 46), 
        color-6: rgb(56, 56, 56), 
        color-7: rgb(66, 66, 66), 
        color-text-1: rgb(255, 255, 255), 
        color-text-2: rgb(105, 105, 105),   
        color-text-button: rgb(26, 178, 107),
    ), 
    color:
    (
        color-1: rgb(232, 248, 238),
        color-2: rgb(209, 241, 222),
        color-3: rgb(177, 242, 177),
        color-4: rgb(111, 220, 124),
        color-5: rgb(29, 185, 84),
        color-6: rgb(24, 150, 70),
        color-7: rgb(7, 61, 29),
        color-text-1: rgb(0, 0, 0),
        color-text-2: rgb(60, 60, 60),
        color-text-button: rgb(255, 255, 255),
    ),
);

:root {
    // default themes
    @include mixins.emit-theme-vars(map.get($themes, light));

    &:not([data-theme="light"]):not([data-theme="color"]) {
        @media (prefers-color-scheme: dark) {
            @include mixins.emit-theme-vars(map.get($themes, dark));
        }
    }

    // user themes
    &[data-theme="light"] {
        @include mixins.emit-theme-vars(map.get($themes, light));
    }

    &[data-theme="dark"] {
        @include mixins.emit-theme-vars(map.get($themes, dark));
    }

    &[data-theme="color"] {
        @include mixins.emit-theme-vars(map.get($themes, color));
    }
}