@use 'mixins' as mixins;



.left {
    padding-left: var(--padding-left-right);
}

.right {
    padding-left: var(--padding-left-right);
}

.p- {
    &0 {
        padding: 0;
    }
}

.release-list {
    max-height: 400px;
    overflow-y: auto;
    background-color: var(--color-2);
    padding: 25px;
}

.row-release-list {
    gap: 5px;
    height: 45px;
    align-items: center;

    @include mixins.hover-active {
        background-color: var(--color-4);
    }
}