.task {

    &-info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .title {
        }

        .info {
            font-size: 0.8em;
        }

        .status {
            display: flex;
            flex-direction: row;
            gap: 2px;
            font-size: 0.8em;
        }

        .time {
            &-started,
            &-duration {
                color: var(--color-text-2);
            }

            &-started {
                font-size: 0.8em;
            }
        }
    }



    &-progress {
        height: 6px;
        background-color: #333;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 10px;
        grid-column: 1 / -1;

        &.finished {
            background-color: transparent;

            .bar {
                background-color: transparent;
            }
        }

        .bar {
            height: 100%;
            background-color: #2ea043;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .step {
        .step {
            &-info {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .title {
                }

                .status {
                    font-size: 0.8em;
                }

                .time {
                    &-started,
                    &-duration {
                        color: var(--color-text-2);
                    }

                    &-started {
                        font-size: 0.8em;
                    }
                }
            }

            &-progress {
                height: 4px;
                background-color: #444;
                border-radius: 4px;
                overflow: hidden;
                margin-top: 4px;

                &.finished {
                    background-color: transparent;

                    .bar {
                        background-color: transparent;
                    }
                }

                .bar {
                    height: 100%;
                    background-color: #0099ff;
                }
            }
        }
    }
}
