@using JakubKastner.SpotifyApi.Objects

@if (Playlists is null || Playlists.Count < 1)
{
    <p>No playlists match the current searching.</p>
}
else
{
    <Virtualize TItem="@SpotifyPlaylist" Items="@Playlists" Context="playlist">

        @RowTemplate(playlist)

    </Virtualize>
}