@using JakubKastner.Extensions
@using JakubKastner.MusicReleases.Objects
@using JakubKastner.MusicReleases.Services.BaseServices

@implements IDisposable

@inject NavigationManager NavManager
@inject ISpotifyFilterUrlService SpotifyFilterUrlService
@inject ISpotifyFilterService SpotifyFilterService

<button type="button" class="artist @ButtonClass" @onclick="FilterArtist">
	@ArtistName
</button>	