@if (String.IsNullOrEmpty(ArtistId) || String.IsNullOrEmpty(ArtistName))
{
	return;
}

<button type="button" class="artist" data-menu_type="artist" data-menu_artist="playlist-id-@ArtistId">
	@ArtistName
</button>