@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.Extensions
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Store.FilterStore

@inherits FluxorComponent

@inject NavigationManager NavManager
@inject IState<SpotifyFilterState> SpotifyFilterState
@inject ISpotifyFilterUrlService SpotifyFilterUrlService
@inject ISpotifyFilterService SpotifyFilterService

<button type="button" class="artist @ButtonClass" @onclick="FilterArtist">
	@ArtistName
</button>	