@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header.Buttons

@implements IDisposable

@inject ILoaderService LoaderService

<div class="artists-filter" @attributes="Attributes">

	@if (!Loading)
	{
		<!-- TODO search -->

		<ButtonSort Type="_type" />

		<ButtonClearFilter Type="_type" />
	}

</div>