@using Fluxor;
@using Fluxor.Blazor.Web.Components;
@using JakubKastner.MusicReleases.Controllers.ApiControllers
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyArtistsStore
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header
@using static JakubKastner.MusicReleases.Base.Enums

@inherits FluxorComponent;

@inject IState<SpotifyArtistsState> _stateSpotifyArtists;
@inject IApiLoginController _apiLoginController;

<div class="menu artists items scroll buttons-rounded-m">


	@if (!_apiLoginController.IsUserLoggedIn())
	{
		<p>User not logged in</p>
	}

	else
	{
		if (_loading || _artists?.List is null)
		{
			<p>Loading artists...</p>
		}
		else if (_error)
		{
			<p>Failed to get artists</p>
			<ButtonUpdate Type="MenuButtonsType.Artists">
				Update
			</ButtonUpdate>
		}
		else if (_artists.List.Count < 1)
		{
			<p>0 artists</p>
			<ButtonUpdate Type="MenuButtonsType.Artists">
				Update
			</ButtonUpdate>
		}
		else
		{
			@foreach (var artist in _artists.List)
			{
				<ButtonArtist ArtistId=@artist.Id ArtistName=@artist.Name>

				</ButtonArtist>
			}
		}
	}
</div>