@inherits FluxorComponent;

@using Fluxor;
@using Fluxor.Blazor.Web.Components;
@using JakubKastner.MusicReleases.Base;
@using JakubKastner.MusicReleases.Controllers.ApiControllers
@using JakubKastner.MusicReleases.Controllers.BaseControllers;
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyArtistsStore;
@using JakubKastner.SpotifyApi.Controllers;
@using JakubKastner.SpotifyApi.Objects;

@inject IDispatcher _dispatcher;
@inject IState<SpotifyArtistsState> _stateSpotifyArtists;
@inject ISpotifyControllerUser _spotifyControllerUser;
@inject IBaseLoginController _baseLoginController;

<div class="menu artists items scroll buttons-rounded-m">
	@if (!_baseLoginController.IsUserLoggedIn())
	{
		<p>User not logged in</p>
		<button @onclick=LoadArtists>
			Update
		</button>
	}
	else
	{
		@if (_loading || _artists == null)
		{
			<p>Loading artists...</p>
		}
		else if (_artists.Count < 1)
		{
			<p>0 artists</p>
			<button @onclick=LoadArtistsApi>
				Update
			</button>
		}
		else
		{
			<button @onclick=Save>Save</button>
			@foreach (var artist in _artists)
			{
				<ButtonArtist ArtistId=@artist.Id ArtistName=@artist.Name></ButtonArtist>
			}
		}
	}
</div>