@using JakubKastner.MusicReleases.Enums
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header.Buttons

@implements IDisposable

@inject ISpotifyFilterService SpotifyFilterService
@inject ILoaderService LoaderService

<aside class="menu-artists @Class" aria-label="Artists list" role="list">

	@if (Loading || Artists is null)
	{
		<p>Loading artists...</p>
	}
	@* else if (Error)
		{
			<p>Failed to get artists</p>
			<ButtonUpdate Type="MenuButtonsType.Artists">
				Update
			</ButtonUpdate>
		} *@
	else if (Artists.Count < 1)
	{
		<p>0 artists</p>
		<ButtonUpdate Type="_menuType">
			Update
		</ButtonUpdate>
	}
	else
	{
		<Virtualize Items="@Artists" Context="artist">
			<ButtonArtist ArtistId=@artist.Id ArtistName=@artist.Name />
		</Virtualize>
	}
</aside>