@using Fluxor;
@using Fluxor.Blazor.Web.Components;
@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyArtistStore
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header
@using static JakubKastner.MusicReleases.Base.Enums

@inherits FluxorComponent;

@inject IState<SpotifyArtistState> SpotifyArtistState
@inject IApiLoginService ApiLoginService

<div class="menu artists items scroll buttons-rounded-m">


	@if (!ApiLoginService.IsUserLoggedIn())
	{
		<p>User not logged in</p>
	}

	else
	{
		if (Loading || Artists?.List is null)
		{
			<p>Loading artists...</p>
		}
		else if (Error)
		{
			<p>Failed to get artists</p>
			<ButtonUpdate Type="MenuButtonsType.Artists">
				Update
			</ButtonUpdate>
		}
		else if (Artists.List.Count < 1)
		{
			<p>0 artists</p>
			<ButtonUpdate Type="MenuButtonsType.Artists">
				Update
			</ButtonUpdate>
		}
		else
		{
			@foreach (var artist in Artists.List)
			{
				<ButtonArtist ArtistId=@artist.Id ArtistName=@artist.Name>

				</ButtonArtist>
			}
		}
	}
</div>