@inherits FluxorComponent;

@using Fluxor;
@using Fluxor.Blazor.Web.Components;
@using JakubKastner.MusicReleases.Store.Releases;
@using JakubKastner.MusicReleases.Store.Api.Spotify.Playlists;

@inject IState<LoaderState> _stateLoader;

<div class="header loader@_stateLoader.Value.LoadingClass()"></div>