@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Store.LoaderStore

@inherits FluxorComponent

@inject IState<LoaderState> _stateLoader;

<div class="header loader@_stateLoader.Value.LoadingClass()"></div>