@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Store.LoaderStore

@inherits FluxorComponent

@inject IState<LoaderState> LoaderState;

<div class="header loader @LoaderState.Value.LoadingClass"></div>