@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header

<div class="header secondary hide-mobile">
	<LogoShort></LogoShort>
	<Date></Date>
	<Artists></Artists>
	<Playlists></Playlists>
	<Releases></Releases>
</div>