.body {
    --col-menu: 130px;
    --col-artists: 230px;
    --col-date: 170px;
    --col-main: 1fr;
    --col-playlists: 280px;

    --row-loader: 5px;
    --row-headers: 40px;
    --row-filters: 40px;
    --row-content: 1fr;

    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: var(--col-menu) var(--col-artists) var(--col-date) var(--col-main) var(--col-playlists);
    grid-template-rows: var(--row-loader) var(--row-headers) var(--row-filters) var(--row-content);
    grid-template-areas:
        "loader loader loader loader loader"
        "logo artists-header date-header releases-filter playlists-header"
        "logo artists-filter date-filter releases-toolbar playlists-filter"
        "main-menu artists-menu date-menu releases-content playlists-menu";
}
