@inherits LayoutComponentBase

@* login user page (first) *@

<div class="body classic hide-player">
    <div class="header secondary hide-mobile">
        <Logo></Logo>
    </div>
    <div class="main">
        <div class="login">
            <h2>Login</h2>
            @foreach (var serviceType in Enum.GetValues<Enums.ServiceType>())
            {
                <div class="login list icon-text buttons-rounded-xl">
                    <Login Type=@serviceType></Login>
                </div>
            }
        </div>
    </div>
</div>