@using JakubKastner.MusicReleases.Controllers.ApiControllers
@using JakubKastner.SpotifyApi.Controllers

@inherits LayoutComponentBase;

@inject IApiLoginController _apiLoginController;
@inject NavigationManager _navManager;

@* main layout - user is sucessfully logged in *@

<div class="body classic hide-player">

	@if (!_apiLoginController.IsUserLoggedIn())
	{
		<p>User not logged in</p>
	}
	else {
		<Header></Header>
		<div class="main">
			<MenuReleases></MenuReleases>

			<MenuDate></MenuDate>
			<MenuArtists></MenuArtists>
			<MenuPlaylists></MenuPlaylists>

			<div class="content page scroll">
				@Body
			</div>
		</div>
	}

</div>