@inherits LayoutComponentBase
@using MusicReleases.Web.Components.LoggedIn

<div class="body classic">
	<CascadingValue Value="@LoaderActive">
		<Header></Header>
		<Main></Main>
		@Body
	</CascadingValue>
</div>

@code
{
	// TODO doesnt work if i change it in code
	public static bool LoaderActive { get; set; } = false;
}