@inherits LayoutComponentBase

@* login user page (first) *@

<div class="body">
    <header class="header">
        <Logo DisplayLogoMiddle="true" ClickEnabled="true" />
    </header>
    <main class="main">
        @Body
    </main>
</div>