@inherits LayoutComponentBase
@using MusicReleases.Web.Components.LoggedOut

<div class="body classic hide-player">
    <div class="header secondary hide-mobile">
        <MusicReleases.Web.Components.LoggedIn.Base.Logo></MusicReleases.Web.Components.LoggedIn.Base.Logo>
    </div>
    <div class="main">
        <div class="login">
            <h2>Login</h2>
            <div class="login list icon-text buttons-rounded-xl">
                <Login Type=@Enums.ServiceType.Spotify></Login>
            </div>
        </div>
    </div>
</div>

@code
{
    // TODO login layout
}
