@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Footers

@inherits LayoutComponentBase

@* main layout - user is sucessfully logged in *@

<div class="body @ClassMain">

    @if (!ApiLoginService.IsUserLoggedIn())
    {
        <p>Error - User is not logged in</p>
    }
    else
    {
        <Loader />

        <Logo Class="main-logo" />
        @* <MainMenu /> *@

        <ReleaseMenu />
        <MobileMenu />
        <SettingsMenu />

        <ArtistSidebar />
        <DateSidebar />
        <PlaylistSidebar />


        <ReleaseSection>
            @Body
        </ReleaseSection>

        @* <Footer /> *@

        <ActiveTasks />


        @*
            TODO mobile menu
            <DateSidebar Class="@MobileService.GetMenuClass(DisplayMobile.Date)" />
            <ArtistSidebar Class="@MobileService.GetMenuClass(DisplayMobile.Artists)" />
        *@
    }

</div>