@using JakubKastner.SpotifyApi
@using JakubKastner.SpotifyApi.Objects
@using SpotifyAPI.Web
@inherits LayoutComponentBase
@inject NavigationManager navManager
@inject JakubKastner.SpotifyApi.Controllers.ControllerUser controllerSpotify
@inject JakubKastner.SpotifyApi.Controllers.Api.ControllerApiUser controllerApiSpotify


<div class="body classic hide-player">
	<div class="page">
		<p>Loggin in user</p>
	</div>
</div>

@code
{
	// TODO loading page
	protected override async Task OnInitializedAsync()
	{
		if (!controllerSpotify.IsLoggedIn())
		{
			// get token from url
			var currentUrl = navManager.Uri;
			var user = await controllerApiSpotify.LoginUser(currentUrl);
			if (user)
			{
				// navigate to releases page
				navManager.NavigateTo("releases");
			}
			else
			{
				// user is not logged in (error)
				navManager.NavigateTo("");
			}
			//await Api.Spotify.Base.SetUser();
		}
	}
}
