@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.UiServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Footers

@inherits LayoutComponentBase;

@implements IDisposable

@inject IMobileService MobileService
@inject IApiLoginService ApiLoginService
@inject NavigationManager NavManager

@* main layout - user is sucessfully logged in *@

<div class="body classic hide-player">

	@if (!ApiLoginService.IsUserLoggedIn())
	{
		<p>User not logged in</p>
	}
	else {
		<Header></Header>

		<div class="main">

			<MenuReleases>
			</MenuReleases>

			<MenuDateYear Class="@MobileService.GetMenuClass(Enums.DisplayMobile.Date)">
			</MenuDateYear>

			<MenuArtists Class="@MobileService.GetMenuClass(Enums.DisplayMobile.Artists)">
			</MenuArtists>

			<MenuPlaylists>
			</MenuPlaylists>

			<div class="content page scroll @MobileService.GetMenuClass(Enums.DisplayMobile.Releases)">
				@Body
			</div>

		</div>

		<Footer></Footer>
	}

</div>