@using MusicReleases.Api.Spotify.Objects
@inherits LayoutComponentBase
@inject NavigationManager navManager
@inject IUser spotifyUser

<div class="body classic hide-player">
    <div class="page">
	    <p>Loggin in user</p>
    </div>
</div>

@code
{
    // TODO loading page
    protected override async Task OnInitializedAsync()
    {
        if (spotifyUser == null)
        {
            // get token from url
            string currentUrl = navManager.Uri;
            await spotifyUser.SetUser(currentUrl);
            //await Api.Spotify.Base.SetUser();
        }

        if (spotifyUser == null)
        {
            // user is not logged in (error)
            navManager.NavigateTo("");
        }
        else
        {
            // navigate to releases page
            navManager.NavigateTo("releases");            
        }
    }
}
