@inherits LayoutComponentBase;

@* main layout - user is sucessfully logged in *@

<div class="body classic hide-player">
	<Header></Header>
	<div class="main">
		<MenuReleases></MenuReleases>

		<MenuDate ServiceType=@Enums.ServiceType.Spotify></MenuDate>
		<MenuArtists ServiceType=@Enums.ServiceType.Spotify></MenuArtists>
		<MenuPlaylists ServiceType=@Enums.ServiceType.Spotify></MenuPlaylists>

		<div class="content page scroll">
			@Body
		</div>
	</div>
</div>