@inherits LayoutComponentBase

@* login user page (first) *@

<div class="body login">
	<div class="header secondary hide-mobile">
		<LogoShort DisplayMusic="true">

		</LogoShort>
	</div>
	<div class="main">
		<div class="info">
			<p>Display releases from your followed artists on Spotify. Filter them by release date or artist name. Add them to your playlist.</p>
			<p>Currently in beta version. Many features coming soon.</p>
		</div>
		<div class="login">
			@Body
		</div>
	</div>
</div>