@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.UiServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Footers
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Headers

@inherits LayoutComponentBase;

@implements IDisposable

@inject IMobileService MobileService
@inject IApiLoginService ApiLoginService
@inject NavigationManager NavManager

@* main layout - user is sucessfully logged in *@

<div class="body">

    @if (!ApiLoginService.IsUserLoggedIn())
    {
        <p>Error - User is not logged in</p>
    }
    else
    {
        <PrimaryHeader />
        <SecondaryHeader />

        <div class="main">

            <MenuReleases>
            </MenuReleases>

            <MenuDateYear Class="@MobileService.GetMenuClass(Enums.DisplayMobile.Date)">
            </MenuDateYear>

            <MenuArtists Class="@MobileService.GetMenuClass(Enums.DisplayMobile.Artists)">
            </MenuArtists>

            <MenuPlaylists>
            </MenuPlaylists>

            <div class="content page scroll @MobileService.GetMenuClass(Enums.DisplayMobile.Releases)">
                @Body
            </div>

        </div>

        <Footer></Footer>
    }

</div>