@inherits LayoutComponentBase

@* login user page (first) *@

<div class="body classic hide-player">
	<div class="header secondary hide-mobile">
		<Logo></Logo>
	</div>
	<div class="main">
		<div class="login">
			@Body
		</div>
	</div>
</div>