@using JakubKastner.MusicReleases.Services.ApiServices

@inherits LayoutComponentBase;

@inject IApiLoginService ApiLoginService
@inject NavigationManager NavManager

@* main layout - user is sucessfully logged in *@

<div class="body classic hide-player">

	@if (!ApiLoginService.IsUserLoggedIn())
	{
		<p>User not logged in</p>
	}
	else {
		<Header></Header>
		<div class="main">
			<MenuReleases></MenuReleases>

			<MenuDate></MenuDate>
			<MenuArtists></MenuArtists>
			<MenuPlaylists></MenuPlaylists>

			<div class="content page scroll">
				@Body
			</div>
		</div>
	}

</div>