@inherits LayoutComponentBase;

@using JakubKastner.MusicReleases.Controllers.BaseControllers;
@inject ILoginController _loginController;
@inject NavigationManager _navManager;

@* loggin in user loading *@
<div class="body classic hide-player">
	<div class="page">
		<p>Loggin in user</p>
	</div>
</div>