@inherits LayoutComponentBase;

@using JakubKastner.SpotifyApi.Controllers;

@inject NavigationManager _navManager;
@inject SpotifyControllerUser _spotifyControllerUser;

@* loggin in user loading *@

<div class="body classic hide-player">
	<div class="page">
		<p>Loggin in user</p>
	</div>
</div>