@use 'global/layout' as layout;

.body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: var(--col-menu) var(--col-artists) var(--col-date) var(--col-main) var(--col-playlists);
    //grid-template-rows: var(--row-loader) var(--row-headers) var(--row-filters) var(--row-menu-releases) var(--row-content) var(--row-tasks);
    grid-template-rows: var(--row-loader) var(--row-headers) var(--row-filters) var(--row-content) var(--row-tasks);
    grid-template-areas:
        "loader loader loader loader loader" "logo artists-header date-header releases-filter playlists-header" "logo artists-filter date-filter releases-toolbar playlists-filter" "releases-menu artists-menu date-menu releases-content playlists-menu" "settings-menu artists-menu date-menu releases-content tasks";

    @include layout.respond(tablet) {
        grid-template-columns: var(--col-menu) var(--col-artists) var(--col-date) var(--col-main);
        grid-template-rows: var(--row-loader) var(--row-headers) var(--row-filters) var(--row-content);
        grid-template-areas:
            "loader loader loader loader" "logo artists-header date-header releases-filter" "logo artists-filter date-filter releases-toolbar" "releases-menu artists-menu date-menu releases-content" "settings-menu artists-menu date-menu releases-content";
    }

    @include layout.respond(mobile) {
        grid-template-columns: var(--col-main);
        grid-template-rows: var(--row-loader) var(--row-content) var(--row-filters) var(--row-headers) var(--row-menu-releases-mobile) var(--row-menu-main-mobile);
        grid-template-areas:
            "loader" "releases-content" "releases-toolbar" "releases-filter" "releases-menu" "mobile-menu";

        &.artists,
        &.date {
            grid-template-rows: var(--row-loader) var(--row-content) var(--row-filters) var(--row-menu-main-mobile);
        }

        &.artists {
            grid-template-areas:
                "loader" "artists-menu" "artists-filter" "mobile-menu";
        }

        &.date {
            grid-template-areas:
                "loader" "date-menu" "date-filter" "mobile-menu";
        }
    }
}
