@inherits LayoutComponentBase

@* main layout - user is sucessfully logged in *@

<div class="body @BodyClass">

    @if (!ApiLoginService.IsUserLoggedIn())
    {
        <p>Error - User is not logged in</p>
    }
    else
    {
        <Loader />

        <Logo LogoType="@LogoComponent.Header" />

        <ReleaseMenu />
        <MobileMenu />
        <SettingsMenu />

        <ArtistSidebar />
        <DateSidebar />
        <PlaylistSidebar />

        <ReleaseSection />

        <ActiveBackgroundTasks />

        <FloatingMenu />

        @Body

        <Popups />
    }

</div>