@use 'sass:map';
@use 'global/layout' as layout;
@use 'global/mixins' as mixins;

$themes: ( light: ( color-1: rgb(255, 255, 255), color-2: rgb(245, 245, 245), color-3: rgb(235, 235, 235), color-4: rgb(225, 225, 225), color-5: rgb(215, 215, 215), color-6: rgb(205, 205, 205), color-7: rgb(195, 195, 195), color-text-1: rgb(0, 0, 0), color-text-2: rgb(150, 150, 150), color-text-button: rgb(0, 0, 0), ), dark: ( color-1: rgb(6, 6, 6), color-2: rgb(16, 16, 16), color-3: rgb(26, 26, 26), color-4: rgb(36, 36, 36), color-5: rgb(46, 46, 46), color-6: rgb(56, 56, 56), color-7: rgb(66, 66, 66), color-text-1: rgb(255, 255, 255), color-text-2: rgb(105, 105, 105), color-text-button: rgb(26, 178, 107), ), color: ( color-1: rgb(232, 248, 238), color-2: rgb(209, 241, 222), color-3: rgb(177, 242, 177), color-4: rgb(111, 220, 124), color-5: rgb(29, 185, 84), color-6: rgb(24, 150, 70), color-7: rgb(7, 61, 29), color-text-1: rgb(0, 0, 0), color-text-2: rgb(60, 60, 60), color-text-button: rgb(255, 255, 255), ), );

.body {
    background-color: var(--color-2);
    color: var(--color-text-1);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: var(--col-menu) var(--col-artists) var(--col-date) var(--col-main) var(--col-playlists);
    //grid-template-rows: var(--row-loader) var(--row-headers) var(--row-filters) var(--row-menu-releases) var(--row-content) var(--row-tasks);
    grid-template-rows: var(--row-loader) var(--row-headers) var(--row-filters) var(--row-content) var(--row-tasks);
    grid-template-areas:
        "loader loader loader loader loader" "logo artists-header date-header releases-filter playlists-header" "logo artists-filter date-filter releases-toolbar playlists-filter" "releases-menu artists-menu date-menu releases-content playlists-menu" "settings-menu artists-menu date-menu releases-content tasks";

    @include layout.respond(tablet) {
        grid-template-columns: var(--col-menu) var(--col-artists) var(--col-date) var(--col-main);
        grid-template-rows: var(--row-loader) var(--row-headers) var(--row-filters) var(--row-content);
        grid-template-areas:
            "loader loader loader loader" "logo artists-header date-header releases-filter" "logo artists-filter date-filter releases-toolbar" "releases-menu artists-menu date-menu releases-content" "settings-menu artists-menu date-menu releases-content";
    }

    @include layout.respond(mobile) {
        grid-template-columns: var(--col-main);
        grid-template-rows: var(--row-loader) var(--row-content) var(--row-filters) var(--row-headers) var(--row-menu-releases-mobile) var(--row-menu-main-mobile);
        grid-template-areas:
            "loader" "releases-content" "releases-toolbar" "releases-filter" "releases-menu" "mobile-menu";

        &.mobile {
            &-artists,
            &-date {
                grid-template-rows: var(--row-loader) var(--row-content) var(--row-filters) var(--row-menu-main-mobile);
            }

            &-artists {
                grid-template-areas:
                    "loader" "artists-menu" "artists-filter" "mobile-menu";
            }

            &-date {
                grid-template-areas:
                    "loader" "date-menu" "date-filter" "mobile-menu";
            }
        }
    }
    // default themes
    @include mixins.emit-theme-vars(map.get($themes, light));

    &:not(.light):not(.color) {
        @media (prefers-color-scheme: dark) {
            @include mixins.emit-theme-vars(map.get($themes, dark));
        }
    }
    // user themes
    &.light {
        @include mixins.emit-theme-vars(map.get($themes, light));
    }

    &.dark {
        @include mixins.emit-theme-vars(map.get($themes, dark));
    }

    &.color {
        @include mixins.emit-theme-vars(map.get($themes, color));
    }
}
