@use 'global/layout' as layout;

.filter,
.toolbar,
.content {
    @include layout.respond(mobile) {
        &:not(.show) {
            display: none;
        }
    }
}

.filter,
.toolbar {
    display: inline-flex;
    overflow: auto;
    padding: 5px;

    @include layout.respond(mobile) {
        background-color: var(--color-3);
    }
}

.filter {
    grid-area: releases-filter;
}

.toolbar {
    grid-area: releases-toolbar;
    gap: 2px;
}

.content {
    grid-area: releases-content;
    overflow-y: auto;
    height: 100%;
}
