@* filter *@
<search class="releases-filter filter" role="search">
    <ReleaseFilter />
</search>

@* actions/toolbar *@
<aside class="releases-toolbar toolbar">
    @if (!Loading)
    {
        <ReleaseToolbar />
    }
</aside>

@* content *@
<div class="releases-content content scroll">
    @ChildContent
</div>