@if (Loading || FilteredReleases is null)
{
    <MrLoading Loading="@Loading" Text="Loading releases..." />
}
else if (FilteredReleases.Count < 1)
{
    <p>0 releases</p>
}
else
{
    <div class="releases boxes infinite-scroll">

        <Virtualize Items="@FilteredReleases" Context="release">
            <Release SpotifyRelease="@release" @key="release.Id"/>
        </Virtualize>

    </div>
}