@* filter *@
<search class="releases-filter filter scroll @ClassHide" role="search">
    <ReleaseFilter />
</search>

@* actions/toolbar *@
<aside class="releases-toolbar toolbar @ClassHide">
    <ReleaseToolbar Loading="@Loading" />
</aside>

@* content *@
<div class="releases-content content scroll @ClassHide">
    @ChildContent
</div>