@using JakubKastner.MusicReleases.Services.BaseServices

@inject ILoginService LoginService

<button type="button" class="@_type.ToLower()" @onclick="LoginUser">
	<i class="fab fa-spotify" aria-hidden="true"></i>
	<span>Login via @_type</span>
</button>