@using JakubKastner.MusicReleases.Controllers.Base;
@inject ILoginController _loginController;

<button type="button" class="@_type.ToLower()" @onclick="LoginUser">
	<i class="fab fa-spotify" aria-hidden="true"></i>
	<span>Login via @_type</span>
</button>