@using MusicReleases
@using MusicReleases.Api.Spotify
@inject NavigationManager NavManager

<button type="button" class="@_type.ToLower()" @onclick="LoginUser">
    <i class="fab fa-spotify" aria-hidden="true"></i>
    <span>Login via @_type</span>
</button>

@code
{
    /// <summary>
    /// Service type (Spotify, Apple Music, ...)
    /// </summary>
    [Parameter]
    public MusicReleases.Enums.ServiceType Type { get; set; }

    private string _type = String.Empty;

    protected override void OnInitialized()
    {
        _type = Type.ToString();
    }


    /// <summary>
    /// User clicked to login button.
    /// </summary>
    private void LoginUser()
    {
        if (Type == MusicReleases.Enums.ServiceType.Spotify)
        {
            // spotify login
            Uri redirectUrl = NavManager.ToAbsoluteUri(NavManager.BaseUri + "login");
            Uri loginUrl = Api.Spotify.Login.GetLoginUrl(redirectUrl);
            NavManager.NavigateTo(loginUrl.AbsoluteUri);
        }
    }
}
