@using JakubKastner.MusicReleases.Enums
@using JakubKastner.MusicReleases.Services.BaseServices

@inject ILoginService LoginService

<MrButton @onclick="ButtonLoginUser">
	<MrIcon Type="TypeIcon" Size="1.5rem" />
	<span>Login via @TypeName</span>
</MrButton>