@using JakubKastner.MusicReleases.Services.ApiServices.SpotifyServices
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.SpotifyApi.Objects

@implements IDisposable

@inject ISpotifyPlaylistService PlaylistService
@inject ILoaderService LoaderService
@inject ISpotifyFilterPlaylistService FilterService


@if (Loading)
{
    <p>Loading...</p>
}
else
{
    <FilterPlaylists SearchTerm="@CurrentSearchText" SearchTermChanged="@HandleSearchChange" />

    <div class="playlists">
        @if (FilteredPlaylists is null || FilteredPlaylists.Count < 1)
        {
            <p>0 filtered playlists</p>
        }
        else
        {
            <Virtualize TItem="SpotifyPlaylist" Items="@FilteredPlaylists" Context="playlist">

                @RowTemplate(playlist)

            </Virtualize>
        }
    </div>
}
