@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyPlaylistStore
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header
@using static JakubKastner.MusicReleases.Base.Enums

@inherits FluxorComponent

@inject IState<SpotifyPlaylistState> StateSpotifyPlaylist;
@inject IApiLoginService ApiLoginService;

<div class="menu playlists items scroll buttons-rounded-m">

	@if (!ApiLoginService.IsUserLoggedIn())
	{
		<p>User not logged in</p>
	}

	else
	{
		if (Loading || _playlists?.List is null)
		{
			<p>Loading playlists...</p>
		}
		else if (Error)
		{
			<p>Failed to get playlists</p>
			<ButtonUpdate Type="MenuButtonsType.Playlists">
				Update
			</ButtonUpdate>
		}
		else if (_playlists.List.Count < 1)
		{
			<p>0 playlists</p>
			<ButtonUpdate Type="MenuButtonsType.Playlists">
				Update
			</ButtonUpdate>
		}
		else
		{
			@foreach (var playlist in _playlists.List)
			{
				<ButtonPlaylist PlaylistId=@playlist.Id PlaylistName=@playlist.Name>
				</ButtonPlaylist>
			}
		}
	}

</div>