@using Fluxor;
@using Fluxor.Blazor.Web.Components;
@using JakubKastner.MusicReleases.Base;
@using JakubKastner.MusicReleases;
@using JakubKastner.MusicReleases.Controllers.ApiControllers
@using JakubKastner.MusicReleases.Controllers.ApiControllers.SpotifyControllers
@using JakubKastner.MusicReleases.Controllers.BaseControllers;
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyPlaylistsStore;
@using JakubKastner.MusicReleases.Store.LoaderStore;
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header
@using JakubKastner.SpotifyApi.Controllers;
@using JakubKastner.SpotifyApi.Objects;
@using static JakubKastner.MusicReleases.Base.Enums

@inherits FluxorComponent;

@inject IState<SpotifyPlaylistsState> _stateSpotifyPlaylists;
@inject IApiLoginController _apiLoginController;
@inject ISpotifyPlaylistsController _spotifyPlaylistsController;

<div class="menu playlists items scroll buttons-rounded-m">
	@if (!_apiLoginController.IsUserLoggedIn())
	{
		<p>User not logged in</p>
	}
	else
	{
		if (_loading || _playlists?.List is null)
		{
			<p>Loading playlists...</p>
		}
		else if (_error)
		{
			<p>Failed to get playlists</p>
			<ButtonUpdate Type="MenuButtonsType.Playlists">
				Update
			</ButtonUpdate>
		}
		else if (_playlists.List.Count < 1)
		{
			<p>0 playlists</p>
			<ButtonUpdate Type="MenuButtonsType.Playlists">
				Update
			</ButtonUpdate>
		}
		else
		{
			@foreach (var playlist in _playlists.List)
			{
				<ButtonPlaylist PlaylistId=@playlist.Id PlaylistName=@playlist.Name>
				</ButtonPlaylist>
			}
		}
	}
</div>