<ListPlaylists>

    <RowTemplate Context="playlist">

        <div class="drop-zone" @ondragover:preventDefault="true" @ondrop="() => HandleDrop(playlist)">

            <ButtonPlaylist Name="@playlist.Name" />

        </div>

    </RowTemplate>

</ListPlaylists>