<ListPlaylists>
    
    <!-- 2. Definuju, jak vypadá řádek -->
    <RowTemplate Context="playlist">
        
        <!-- Obalím to do DIVu pro Drop Zone -->
        <div class="drop-zone" 
             ondragover="event.preventDefault();"
             @ondrop="() => HandleDrop(playlist)">
             
             <!-- Použiju hloupý badge jen pro vzhled -->
             <ButtonPlaylist Name="@playlist.Name" />
        
        </div>

    </RowTemplate>

</ListPlaylists>