@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.BaseServices

@implements IDisposable

@inject IApiLoginService ApiLoginService
@inject ISpotifyFilterUrlService SpotifyFilterUrlService
@inject ISpotifyFilterService SpotifyFilterService
@inject NavigationManager NavManager

@if (!ApiLoginService.IsUserLoggedIn())
{
	<p>User not logged in</p>
}
else
{
	<button class="tracks @ButtonClass" title="@ButtonTitle" @onclick="ChangeFilter">
		@ChildContent
	</button>
}