@using JakubKastner.MusicReleases.Services.ApiServices

@inject IApiLoginService ApiLoginService

@if (!ApiLoginService.IsUserLoggedIn())
{
	<p>User not logged in</p>
}
else
{
	@* TODO create new playlist or follow new artist *@
	@* <button class="new" @onclick="New">
		<i class="fas fa-plus" aria-hidden="true"></i>
		@ChildContent
	</button> *@
}