@using JakubKastner.MusicReleases.Services.ApiServices

@inject IApiLoginService ApiLoginService

@if (!ApiLoginService.IsUserLoggedIn())
{
	<p>User not logged in</p>
}
else
{
	<button class="show-hide icon-text left">
		@ChildContent
		@if (DisplayTitle)
		{
			@_title
		}
	</button>
}