@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.ApiServices.SpotifyServices

@inject IApiLoginService ApiLoginService
@inject ISpotifyWorkflowService SpotifyWorkflowController

@if (!ApiLoginService.IsUserLoggedIn())
{
	<p>User not logged in</p>
}
else
{	
	<button class="update" @onclick="Update">
		<i class="fas fa-sync-alt" aria-hidden="true"></i>
		@ChildContent
	</button>
}