

// TODO

/*
button {
    // add to library button
    &.active {
        .fa-heart {
            font-weight: 900;
        }

        &:hover .fa-heart {
            font-weight: 400;
        }
    }

    &:hover .fa-heart {
        font-weight: 900;
    }
}*/