
// scrollbars

.infinite-scroll {
    position: relative
}

::-webkit-scrollbar {
    width: 10px;

    &:horizontal {
        height: 5px;
    }
}

.scroll {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: initial;

        &:horizontal {
            height: initial;
        }
    }
}

// firefox
.scroll {
    scrollbar-color: var(--color-6) transparent;
}
// chrome
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
    background-color: transparent;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--color-6);

    &:hover {
        background-color: var(--color-text-2);
    }
}