
// scrollbars

.infinite-scroll {
    position: relative;
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--color-6) transparent;

    &::-webkit-scrollbar {
        width: initial;

        &:horizontal {
            height: initial;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;

    &:horizontal {
        height: 5px;
    }

    &-track,
    &-track:horizontal {
        background-color: transparent;
    }

    &-thumb,
    &-thumb:horizontal {
        background-color: var(--color-6);

        &:hover {
            background-color: var(--color-text-2);
        }
    }
}
