@if (Year is null || Month is null)
{
	return;
}

<button class="month @ButtonClass" data-menu_type="month" data-menu_month="@Month" @onclick="FilterMonth">
	@Month
</button>

@*
<button class="month" data-menu_type="month" data-menu_month="07">07</button>
<button class="month active" data-menu_type="month" data-menu_month="06">06</button>
<button class="month" data-menu_type="month" data-menu_month="-">-</button>
*@