@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Store.FilterStore

@inherits FluxorComponent

@inject NavigationManager NavManager
@inject IState<SpotifyFilterState> SpotifyFilterState
@inject ISpotifyFilterService SpotifyFilterService

<button class="month @ButtonClass" @onclick="FilterMonth">
	@Month
</button>