@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Store.FilterStore

@inherits FluxorComponent

@inject NavigationManager NavManager
@inject IState<SpotifyFilterState> SpotifyFilterState
@inject ISpotifyFilterService SpotifyFilterService

<button class="month @ButtonClass" data-menu_type="month" data-menu_month="@Month" @onclick="FilterMonth">
	@Month
</button>

@*
<button class="month" data-menu_type="month" data-menu_month="07">07</button>
<button class="month active" data-menu_type="month" data-menu_month="06">06</button>
<button class="month" data-menu_type="month" data-menu_month="-">-</button>
*@