@using JakubKastner.MusicReleases.Services.BaseServices

@implements IDisposable

@inject NavigationManager NavManager
@inject ISpotifyFilterUrlService SpotifyFilterUrlService
@inject ISpotifyFilterService SpotifyFilterService

<button class="month @ButtonClass" @onclick="FilterMonth">
	@Month
</button>