@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyArtistStore
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyReleaseStore

@inherits FluxorComponent

@inject IApiLoginService ApiLoginService
@inject IState<SpotifyArtistState> SpotifyArtistState
@inject IState<SpotifyReleaseState> SpotifyReleaseState
@inject IFilterService FilterService

<div class="menu date items scroll buttons-rounded-m">
	@if (Loading)
	{
		<p>Loading...</p>
	}
	else if (YearMonthList is null)
	{
		<p>0 releases</p>
	}
	else
	{
		foreach (var year in YearMonthList)
		{
			 <ButtonDateYear Year="@year.Key" Months="@year.Value">
			</ButtonDateYear> 
		}
	}
</div>