@using Fluxor;
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Controllers.ApiControllers

@inherits FluxorComponent

@inject IApiLoginController _apiLoginController

<div class="menu date items scroll buttons-rounded-m">
	@*@if (_stateSpotifyReleases.Value.Loaded)
	{
		<p>Loaded</p>
	}
	else
	{
		<p>Loading...</p>
	}*@
</div>