@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header

@implements IDisposable

@inject ISpotifyFilterService SpotifyFilterService
@inject ILoaderService LoaderService

<nav class="menu-date @Class" aria-label="Date list">

    @if (Loading)
    {
        <p>Loading...</p>
    }
    else if (FilteredYearMonth is null)
    {
        <p>0 releases</p>
    }
    else
    {
        <ul class="year-list">
            @foreach (var year in FilteredYearMonth)
            {
                <li>
                    <ButtonDateYear Year="@year.Key" Months="@year.Value" />
                </li>
            }
        </ul>
    }
</nav>