@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Store.FilterStore

@implements IDisposable

@inject IApiLoginService ApiLoginService
@inject ISpotifyFilterService SpotifyFilterService
@inject ILoaderService LoaderService

<div class="menu date items scroll buttons-rounded-m">
	@if (Loading)
	{
		<p>Loading...</p>
	}
	else if (FilteredYearMonth is null)
	{
		<p>0 releases</p>
	}
	else
	{
		<Virtualize Items="@FilteredYearMonth" Context="year" ItemSize="30" OverscanCount="5">
			<ButtonDateYear Year="@year.Key" Months="@year.Value">
			</ButtonDateYear>
		</Virtualize>
	}
</div>