@using Fluxor;
@using Fluxor.Blazor.Web.Components;
@using JakubKastner.MusicReleases.Base;
@using JakubKastner.MusicReleases.Controllers.BaseControllers;
@using JakubKastner.MusicReleases.Store.LoaderStore;
@using JakubKastner.SpotifyApi.Controllers;
@using JakubKastner.SpotifyApi.Objects;
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyReleasesStore;

@inherits FluxorComponent;

@inject IState<SpotifyReleasesState> _stateSpotifyReleases;
@inject ISpotifyControllerUser _spotifyControllerUser;
@inject ISpotifyControllerArtist _spotifyControllerArtist;
@inject IServiceTypeController _serviceTypeController;

<div class="menu date items scroll buttons-rounded-m">
	@*@if (_stateSpotifyReleases.Value.Loaded)
	{
		<p>Loaded</p>
	}
	else
	{
		<p>Loading...</p>
	}*@
</div>