@using Fluxor;
@using Fluxor.Blazor.Web.Components;
@using JakubKastner.MusicReleases.Base;
@using JakubKastner.MusicReleases.Store.Releases;
@using JakubKastner.SpotifyApi.Controllers;
@using JakubKastner.SpotifyApi.Objects;
@using JakubKastner.MusicReleases.Store.Api.Spotify.Releases;

@inherits FluxorComponent;

@inject IState<SpotifyReleasesState> _stateSpotifyReleases;
@inject ISpotifyControllerUser _spotifyControllerUser;
@inject ISpotifyControllerArtist _spotifyControllerArtist;

<div class="menu date items scroll buttons-rounded-m">
	@*@if (_stateSpotifyReleases.Value.Loaded)
	{
		<p>Loaded</p>
	}
	else
	{
		<p>Loading...</p>
	}*@
</div>

@code
{
	[Parameter]
	public Enums.ServiceType ServiceType { get; set; }

	//private SortedSet<SpotifyApi.Objects.Artist>? _artists;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		if (ServiceType == Enums.ServiceType.Spotify)
		{
			// TODO show loader
			// display playlists
			if (!_spotifyControllerUser.IsLoggedIn()) return;

			//_artists = await _spotifyControllerArtist.GetUserFollowedArtists();
		}
	}

	@*private async Task UpdateArtists()
	{
		_artists = await _spotifyControllerArtist.GetUserFollowedArtists();
		StateHasChanged();
	}*@
}
