@use '../../../../../wwwroot/styles/global/layout' as layout;


.menu-user {
    margin-top: auto;
    grid-area: settings-menu;

    @include layout.respond(mobile) {
        display: none;

        &.show {
            display: flex;
            flex-direction: column;
            z-index: 3;
            position: absolute;
            right: 0px;
            padding: 10px;
            bottom: var(--row-menu-main-mobile);
            background-color: var(--color-2);
            width: 100vw;
        }
    }
}