@use '../../../../../wwwroot/styles/global/layout' as layout;


.menu-user {
    margin-top: auto;

    @include layout.respond(mobile) {
        display: none;

        &.show {
            display: flex;
            flex-direction: column;
            z-index: 3;
            position: absolute;
            right: 0px;
            padding: 10px;
            bottom: var(--row-menu-mobile);
            background-color: var(--color-2);
            width: 14rem;
            max-width: calc(100vw - 20px);
        }
    }
}


.menu-toggle {
    display: none;

    @include layout.respond(mobile) {
        display: grid;
        z-index: 5;
        position: absolute;
        right: 10px;
        bottom: 20px;
    }
}
