<div class="menu releases">
    <button class="show-hide icon-text left">
        <i class="fas fa-bars" aria-hidden="true"></i>
        <img class="favicon" src="images/favicon.png" alt="R">
        <span>eleases</span>
    </button>
</div>
@code {

}
