<div class="menu artists buttons-rounded-l">
	<button class="show-hide icon-text">
		<i class="fas fa-users" aria-hidden="true"></i>
		Artists
	</button>
	<button class="clear" title="Clear filter" style="display: none;">
		<i class="fas fa-times" aria-hidden="true"></i>
	</button>
	<input type="text" class="search" placeholder="Search artists">
	<button class="search">
		<i class="fas fa-search" aria-hidden="true"></i>
	</button>
	<button class="close">
		<i class="fas fa-times" aria-hidden="true"></i>
	</button>
</div>