@using Fluxor
@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.ApiServices.SpotifyServices

@inject IApiLoginService _apiLoginController;
@inject ISpotifyWorkflowService _workflowController

@if (!_apiLoginController.IsUserLoggedIn())
{
	<p>User not logged in</p>
}
else
{	
	<button class="update" @onclick="Update">
		<i class="fas fa-sync-alt" aria-hidden="true"></i>
		@ChildContent
	</button>
}