@using Fluxor
@using JakubKastner.MusicReleases.Controllers.ApiControllers
@using JakubKastner.MusicReleases.Controllers.ApiControllers.SpotifyControllers

@inject IApiLoginController _apiLoginController;

@if (!_apiLoginController.IsUserLoggedIn())
{
	<p>User not logged in</p>
}
else
{
	@* TODO sorting *@
	@* <button class="sort" @onclick="Sort">
		<i class="fas fa-sort-amount-down-alt" aria-hidden="true"></i>
		@ChildContent
	</button> *@
}