@using Fluxor
@using JakubKastner.MusicReleases.Services.ApiServices

@inject IApiLoginService _apiLoginController;

@if (!_apiLoginController.IsUserLoggedIn())
{
	<p>User not logged in</p>
}
else
{
	@* TODO searching *@
	@* if (_searching)
	{
		<InputText class="search" placeholder="@_searchText" @bind-Value="_searchValue" @ref="_inputTextSearchValue" />

		<button class="clear" title="Clear search" @onclick="SearchStop">
			<i class="fas fa-times" aria-hidden="true"></i>
		</button>
	}

	<button class="search" @onclick="SearchStart">
		<i class="fas fa-search" aria-hidden="true"></i>
		@ChildContent
	</button> *@
}