@using Fluxor
@using JakubKastner.MusicReleases.Controllers.ApiControllers
@using JakubKastner.MusicReleases.Controllers.ApiControllers.SpotifyControllers
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyPlaylistsStore

@inject IApiLoginController _apiLoginController;
@inject ISpotifyArtistsController _spotifyArtistsController;
@inject ISpotifyPlaylistsController _spotifyPlaylistsController;

@if (!_apiLoginController.IsUserLoggedIn())
{
	<p>User not logged in</p>
}
else
{	
	<button class="update" @onclick="Update">
		<i class="fas fa-sync-alt" aria-hidden="true"></i>
		@ChildContent
	</button>
}