@using Fluxor
@using JakubKastner.MusicReleases.Services.ApiServices

@inject IApiLoginService _apiLoginController;

@if (!_apiLoginController.IsUserLoggedIn())
{
	<p>User not logged in</p>
}
else
{
	<button class="show-hide icon-text left">
		@ChildContent
		@if (DisplayTitle)
		{
			@_title
		}
	</button>
}