@using static JakubKastner.MusicReleases.Base.Enums

<div class="menu date buttons-rounded-l">

	<ButtonTitle Type="_type" DisplayTitle="_displayTitle">
		<i class="fas fa-calendar-alt" aria-hidden="true"></i>
	</ButtonTitle>

	<ButtonSearch Type="_type" OnSearching="DisplayTitle">
	</ButtonSearch>

	<ButtonSort Type="_type">
	</ButtonSort>

	<ButtonClearFilter Type="_type">
	</ButtonClearFilter>
</div>