@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header.Buttons

@implements IDisposable

@inject ILoaderService LoaderService

<div class="menu date buttons-rounded-l">

	<ButtonTitle Type="_type" DisplayTitle="_displayTitle">
		<i class="fas fa-calendar-alt" aria-hidden="true"></i>
	</ButtonTitle>
	

	@if (!Loading)
	{
		<ButtonSearch Type="_type" OnSearching="DisplayTitle">
		</ButtonSearch>

		<ButtonSort Type="_type">
		</ButtonSort>

		<ButtonClearFilter Type="_type">
		</ButtonClearFilter>
	}
</div>