<div class="menu date buttons-rounded-l">
	<button class="show-hide icon-text">
		<i class="fas fa-calendar-alt" aria-hidden="true"></i>
		Date
	</button>
	<button class="clear" title="Clear filter">
		<i class="fas fa-times" aria-hidden="true"></i>
	</button>
	<input type="text" class="search" placeholder="Search date">
	<button class="search">
		<i class="fas fa-search" aria-hidden="true"></i>
	</button>
	<button class="close">
		<i class="fas fa-times" aria-hidden="true"></i>
	</button>
</div>