@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Services.UiServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header.Buttons

@implements IDisposable

@inject ILoaderService LoaderService
@inject IMobileService MobileService

<div class="menu date buttons-rounded-l" @attributes="AdditionalAttributes">

	<ButtonTitle Type="_type" DisplayTitle="_displayTitle" OnClick="HideMenu">
		<i class="fas fa-calendar-alt" aria-hidden="true"></i>
	</ButtonTitle>
	

	@if (!Loading)
	{
		<ButtonSearch Type="_type" OnSearching="DisplayTitle">
		</ButtonSearch>

		<ButtonSort Type="_type">
		</ButtonSort>

		<ButtonClearFilter Type="_type">
		</ButtonClearFilter>
	}
</div>