@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyPlaylistStore
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyPlaylistsTracksStore

@inherits FluxorComponent

@inject IState<SpotifyPlaylistState> SpotifyPlaylistState
@inject IState<SpotifyPlaylistTrackState> SpotifyPlaylistTrackState


<div class="menu playlists buttons-rounded-l">

	<ButtonTitle Type="_type" DisplayTitle="_displayTitle">
		<i class="fas fa-bars" aria-hidden="true"></i>
	</ButtonTitle>

	@if (!SpotifyPlaylistState.Value.LoadingAny() && !SpotifyPlaylistTrackState.Value.LoadingAny())
	{
		<ButtonSearch Type="_type" OnSearching="DisplayTitle">

		</ButtonSearch>
		<ButtonSort Type="_type">

		</ButtonSort>
		<ButtonUpdate Type="_type" OnUpdating="DisplayTitle">

		</ButtonUpdate>
		<ButtonNew Type="_type"></ButtonNew>
	}

</div>