@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header.Buttons

@implements IDisposable

@inject ILoaderService LoaderService

<div class="menu playlists buttons-rounded-l">

	<ButtonTitle Type="_type" DisplayTitle="_displayTitle">
		<i class="fas fa-bars" aria-hidden="true"></i>
	</ButtonTitle>
	@if (!Loading)
	{
		<ButtonSearch Type="_type" OnSearching="DisplayTitle">

		</ButtonSearch>
		<ButtonSort Type="_type">

		</ButtonSort>
		<ButtonUpdate Type="_type" OnUpdating="DisplayTitle">

		</ButtonUpdate>
		<ButtonNew Type="_type"></ButtonNew>
	}

</div>