@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyArtistStore
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyReleaseStore

@inherits FluxorComponent

@inject IState<SpotifyArtistState> SpotifyArtistState
@inject IState<SpotifyReleaseState> SpotifyReleaseState


<div class="menu filter scroll buttons-rounded-m">
	@if (!SpotifyArtistState.Value.LoadingAny() && !SpotifyReleaseState.Value.LoadingAny())
	{
		<ReleasesFilters></ReleasesFilters>
		<ReleasesActions></ReleasesActions>
	}
</div>