<div class="menu releases buttons-rounded-xl">
    <button class="show-hide icon-text left buttons-rounded-xl">
        <i class="fas fa-bars" aria-hidden="true"></i>
        <img class="favicon" src="images/favicon.png" alt="R">
        <span>eleases</span>
    </button>
</div>
@code {

}
