<button class="clear" title="Clear filter">
	<i class="fas fa-times" aria-hidden="true"></i>
</button>

<button class="tracks active" title="Show released Tracks">
	Tracks
</button>

<button class="eps active" title="Show released EPs">
	EPs
</button>

<button class="remixes active" title="Show released Remixes">
	Remixes
</button>

<button class="artists" title="Hide releases from the artist I am following">
	Followed artists
</button>

<button class="various-artists active" title="Show releases from Various artists">
	Various artists
</button>

<button class="saved" title="Show saved releases in my library">
	In library
</button>

<button class="new" title="Show only new releases">
	Only new
</button>