@using JakubKastner.MusicReleases.Services.BaseServices

@implements IDisposable

@inject ILoaderService LoaderService

<div class="menu filter scroll buttons-rounded-m">
	@if (!Loading)
	{
		<ReleasesFilters></ReleasesFilters>
		<ReleasesActions></ReleasesActions>
	}
</div>