@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Store.FilterStore

@inherits FluxorComponent

@inject NavigationManager NavManager
@inject IFilterService FilterService
@inject IState<SpotifyFilterState> SpotifyFilterState
@inject ISpotifyFilterService SpotifyFilterService

<button type="button" class="@ButtonClass" title="View released @ReleaseTypeString" @onclick="DisplayReleases">
    <i class="fas fa-@IconClass" aria-hidden="true"></i>
    <span>@ReleaseTypeString</span>
</button>