@using JakubKastner.MusicReleases.Services.BaseServices

@implements IDisposable

@inject NavigationManager NavManager
@inject IFilterService FilterService
@inject ISpotifyFilterService SpotifyFilterService
@inject ISpotifyFilterUrlService SpotifyFilterUrlService

<button type="button" class="@ButtonClass" title="View released @ReleaseTypeString" @onclick="DisplayReleases">
    <i class="fas fa-@IconClass" aria-hidden="true"></i>
    <span>@ReleaseTypeString</span>
</button>