@using JakubKastner.MusicReleases.Services.BaseServices

@implements IDisposable

@inject ILoaderService LoaderService

<div class="menu filter scroll buttons-rounded-m" @attributes="AdditionalAttributes">
	@if (!Loading)
	{
		<ReleasesActions />
	}
</div>