@using JakubKastner.SpotifyApi.SpotifyEnums

<div class="menu releases icon-text items scroll buttons-rounded-xl @Class">
	@foreach (var releaseType in EnumReleaseTypeExtensions.GetAllReleaseTypes())
	{
		if (releaseType == ReleaseType.Podcasts)
		{
			// TODO podcasts
			continue;	
		}

		<ButtonRelease ReleaseType=@releaseType></ButtonRelease>
	}
	<MenuSettings></MenuSettings>
</div>