@using static JakubKastner.SpotifyApi.Base.SpotifyEnums;

<div class="menu releases icon-text items scroll buttons-rounded-xl">
	@foreach (var releaseType in GetAllReleaseTypes())
	{
		if (releaseType == ReleaseType.Podcasts)
		{
			// TODO podcasts
			continue;	
		}

		<ButtonRelease ReleaseType=@releaseType></ButtonRelease>
	}
	<MenuSettings></MenuSettings>
</div>