@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.SpotifyApi.Services

@inject ILoginService _loginController
@inject ISpotifyUserService _spotifyControllerUser
@inject IApiLoginService _apiLoginController

<div class="user icon-text">
	<button class="user">
		@if (_spotifyUser is not null)
		{
			@if (_spotifyUser?.ProfilePictureUrl is not null)
			{
				<img src="@_spotifyUser.ProfilePictureUrl" title="Profile picture" />
			}
			else
			{
				<i class="fas fa-user" title="Profile picture"></i>
			}
			<span>@_spotifyUser!.Name</span>
		}
	</button>

	<button class="settings" title="Show settings">
		<i class="fas fa-wrench" aria-hidden="true"></i>
		<span>Settings</span>
	</button>

	<button class="logout" title="Logout" @onclick="LogoutUser">
		<i class="fas fa-sign-out-alt" aria-hidden="true"></i>
		<span>Logout</span>
	</button>

	<button class="player skrejto" title="Show player">
		<i class="fas fa-play-circle" aria-hidden="true"></i>
	</button>

</div>