@using static JakubKastner.SpotifyApi.Base.SpotifyEnums;

<div class="menu releases icon-text items scroll buttons-rounded-xl">
	@foreach (var releaseType in GetAllReleaseTypes())
	{
		<ButtonRelease ReleaseType=@releaseType></ButtonRelease>
	}
	<MenuSettings></MenuSettings>
</div>