@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Buttons
@using JakubKastner.SpotifyApi.Services

@inject ISpotifyApiUserService SpotifyUserService
@inject IApiLoginService ApiLoginService

<div class="user icon-text">
	<button class="user-button">
		@if (_spotifyUser is not null)
		{
			@if (_spotifyUser?.ProfilePictureUrl is not null)
			{
				<img src="@_spotifyUser.ProfilePictureUrl" title="Profile picture" width="50" />
			}
			else
			{
				<i class="fas fa-user" title="Profile picture"></i>
			}
			<span>@_spotifyUser!.Name</span>
		}
	</button>

	<SettingsButton></SettingsButton>
	<LogoutButton></LogoutButton>
	<PlayerButton></PlayerButton>
</div>