<div class="user icon-text">
    <button class="player" title="Show player">
        <i class="fas fa-play-circle" aria-hidden="true"></i>
    </button>
    <button class="settings" title="Show settings">
        <i class="fas fa-wrench" aria-hidden="true"></i>
        <span>Settings</span>
    </button>
    <button class="logout" title="Logout">
        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        <span>Logout</span>
    </button>
</div>