<nav class="main-nav release-menu @ClassMenu" aria-label="Releases menu">
    <ReleaseMenuList MenuType="MainMenuType.Primary" />
</nav>

@if (_renderOverflowMenu)
{
    <nav id="more-releases" class="main-nav" aria-label="Releases menu">
        <ReleaseMenuList MenuType="MainMenuType.Overflow" Class="@ClassOverflowMenu" />
    </nav>
}