@use 'global/layout' as layout;

.release-menu {
    container-type: inline-size;
    container-name: releases-menu;

    &-main {
        grid-area: releases-menu;
        overflow-y: auto;
        min-height: 80px;

        @include layout.respond(mobile) {
            &:not(.show) {
                display: none;
            }
        }
    }

    &-main {
    }
}
