<nav class="release-menu release-menu-main @ClassShow" aria-label="Releases menu">
    <ReleaseMenuList MenuType="@ReleaseMenuComponent.Primary" />
</nav>

@if (_renderOverflowMenu)
{
    <nav class="release-menu" id="more-releases" aria-label="Releases menu">
        <ReleaseMenuList MenuType="@ReleaseMenuComponent.Overflow" Hidden="@(!IsOverflowMenuDisplayed)" />
    </nav>
}   