@use 'sass:map';
@use 'global/layout' as layout;

$icon-bps: ( 5: 118px * 5, 4: 88px * 4, 3: 76px * 3, 2: 76px * 2 );

@function bp-min($icons) {
    @return map.get($icon-bps, $icons);
}

@function bp-max($icons) {
    @return map.get($icon-bps, $icons) - 1px;
}

@mixin hide-category($category) {
    .#{$category} {
        display: none;
    }
}

@mixin hide-category-primary($category) {
    @include hide-category($category);

    .#{$category} {
        &-more ::deep .button > .chip {
            background-color: var(--color-project);
        }
    }
}

.menu-list {
    display: grid;
    grid-template-columns: 1fr;

    @include layout.respond(mobile) {
        background-color: var(--color-3);
    }

    &.primary {
        .more {
            display: none;
        }

        @include layout.respond(mobile) {
            // 5 icons
            grid-template-columns: repeat(5, 1fr);
            // 4 icons
            @container releases-menu (max-width: #{bp-max(5)}) {
                grid-template-columns: repeat(4, 1fr);

                .more {
                    display: grid;
                }

                @include hide-category-primary('appears');
                @include hide-category-primary('compilations');
            }
            // 3 icons
            @container releases-menu (max-width: #{bp-max(4)}) {
                grid-template-columns: repeat(3, 1fr);

                @include hide-category-primary('podcasts');
            }
            // 2 icons
            @container releases-menu (max-width: #{bp-max(3)}) {
                grid-template-columns: repeat(2, 1fr);

                @include hide-category-primary('tracks');
            }
            // 1 icon
            @container releases-menu (max-width: #{bp-max(2)}) {
                grid-template-columns: repeat(1, 1fr);

                @include hide-category-primary('albums');
            }
        }
    }


    &.overflow {
        display: none;

        @include layout.respond(mobile) {

            &.hidden {
                display: none;
            }
            // 4 --> 2 icons
            @container releases-menu (max-width: #{bp-max(5)}) {
                display: grid;
                position: fixed;
                bottom: var(--row-menu-mobile);
                right: 0px;
                z-index: 1;
                background-color: var(--color-3);
                padding: 10px;
                width: 100vw;
            }
            // 3 --> 3 icons
            @container releases-menu (min-width: #{bp-min(4)}) {
                @include hide-category('podcasts');
            }
            // 2 --> 4 icons
            @container releases-menu (min-width: #{bp-min(3)}) {
                @include hide-category('tracks');
            }
            // 1 --> 5 icons
            @container releases-menu (min-width: #{bp-min(2)}) {
                @include hide-category('albums');

                .albums {
                    display: none;
                }
            }
        }
    }
}
