@use 'global/layout' as layout;

.release-menu {
    container-type: inline-size;
    container-name: releases-menu;
    grid-area: releases-menu;

    &-main {

        @include layout.respond(mobile) {
            &:not(.show) {
                display: none;
            }
        }
    }
}
