@using JakubKastner.MusicReleases.Enums
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Header.Buttons


<div class="menu actions icon-text">
	
	<MrButton Title="Add all filtered releases to the playlist" Text="Add to playlist" OnClick="@AddToPlaylist">
		<MrIcon Icon="LucideIcon.Plus" />
	</MrButton>

	<MrButton Title="Play all filtered releases" Text="Play all" OnClick="@Play">
		<MrIcon Icon="LucideIcon.Play" />
	</MrButton>
		
	<ButtonUpdate Type="_type" />
</div>