@using JakubKastner.SpotifyApi.Objects

@if (_artists is null)
{
	<p>Loading artists...</p>
}
else if (_artists.Count == 0)
{
	<p>0 artists</p>
	@* <UpdateButton Class="sidebar-content" ButtonType="@UpdateButtonComponent.Artists" Text="Update" /> *@
}
else
{
	<ul>
		<Virtualize Items="@_artists" Context="artist" TItem="SpotifyArtist">
			<li>
				<ArtistSidebarButton ArtistId=@artist.Id ArtistName=@artist.Name @key="artist.Id"/>
			</li>
		</Virtualize>
	</ul>
}	