@if (Artists is null || Artists.Count < 1)
{
	<p>0 artists</p>
	@* <UpdateButton Class="sidebar-content" ButtonType="@UpdateButtonComponent.Artists" Text="Update" /> *@
}
else
{
	<ul>
		<Virtualize Items="@Artists" Context="artist">
			<li>
				<ArtistSidebarButton ArtistId=@artist.Id ArtistName=@artist.Name @key="artist.Id"/>
			</li>
		</Virtualize>
	</ul>
}