@use 'sass:map';
@use '../../../../../wwwroot/styles/global/layout' as layout;

// + 2 * padding (15px) + 3 * gap (15px)
$icon-bps: ( 4: 112px * 4 + 2 * 15px + 3 * 15px, 3: 112px * 3 + 50px + 2 * 10px + 3 * 10px, 2: 112px * 3 + 50px + 2 * 5px + 3 * 2px);


@function bp-max($icons) {
    @return map.get($icon-bps, $icons)  - 1px;
}

.nav-list {
    gap: 15px;
    padding: 0 15px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @container mobile-nav (max-width: #{bp-max(4)}) {
        grid-template-columns: repeat(3, 1fr) 50px;
        gap: 10px;
        padding: 0 10px;
    }

    @container mobile-nav (max-width: #{bp-max(3)}) {
        gap: 2px;
        padding: 0 5px;
    }

    @container mobile-nav (max-width: #{bp-max(2)}) {
        grid-template-columns: repeat(4, 1fr);

        .title {
            display: none;
        }
    }


    li {
        display: flex;
    }

    .more {
        .title {
            @container mobile-nav (max-width: #{bp-max(4)}) {
                display: none;
            }
        }
    }
}