.icon-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

    .dot {
        position: absolute;
        top: -2px;
        right: -5px;
        width: 6px;
        height: 6px;
        background-color: var(--color-project);
        border-radius: 50%;
        border: 2px solid transparent;
        z-index: 2;
    }
}
