@page "/login/spotify"
@layout LayoutLogin
@inherits LayoutComponentBase

@using JakubKastner.MusicReleases.Services.BaseServices
@inject ILoginService LoginService
@inject NavigationManager NavManager

@if (_loading)
{
	<p>Loggin in user...</p>
}
else if (_error)
{
	<p>Login failed, try again:</p>
	<Login></Login>
}