@page "/login/spotify"

@layout LayoutPublic

@if (_loading)
{
    <InfoSection Title="Login">
        <p>Loggin in user...</p>
    </InfoSection>
}
else if (_error)
{
    <InfoSection Title="Login">
        <p>Login via Spotify failed, try again:</p>
    </InfoSection>

    <nav class="buttons">
        <LoginButton ServiceType=@ServiceType.Spotify />
        <HomeButton />
    </nav>
}