<li class="drop-zone" @ondragover:preventDefault="true" @ondragenter:preventDefault="true" @ondrop="@HandleDrop">
    <MrButton Class=@Class" Text="@PlaylistName" Disabled="@_isLoading" role="listitem" />
</li>