.header, .search, .list {
    margin: 0 10px;
}

.filters {
    display: inline-flex;
    overflow: auto;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
}

.search {
    display: inline-flex;
    gap: 2px;
    padding: 5px;
    max-width: 200px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.list {
    background-color: var(--color-4);
    border-radius: 10px;
    padding: 10px;
}
