@use 'global/layout' as layout;

.popup {
    grid-column: artists-header-start / playlists-header-end;
    grid-row: artists-header-start / tasks-end;
    z-index: 10;
    background-color: var(--color-3);
    overflow: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    container-name: popup;
    container-type: inline-size;

    @include layout.respond(tablet) {
        grid-column: artists-header-start / releases-filter-end;
        grid-row: artists-header-start / releases-content-end;
    }

    @include layout.respond(mobile) {
        grid-column: releases-content-start / releases-content-end;
        grid-row: releases-content-start / releases-menu-end;

        &.mobile {
            &-artists {
                grid-column: artists-menu-start / artists-filter-end;
                grid-row: artists-menu-start / artists-filter-end;
            }

            &-date {
                grid-column: date-menu-start / date-filter-end;
                grid-row: date-menu-start / date-filter-end;
            }
        }
    }
}
