@if (PopupService.IsAnyPopupDisplayed)
{
    <div class="@PopupClass">
        @switch (PopupService.DisplayedPopup)
        {
             case PopupType.Tasks:
                <TaskPopup />
                break;
        }
    </div>
}