@inherits LayoutComponentBase
@using JakubKastner.MusicReleases.Base;
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Artists
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Playlists
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Menus.Releases

<div class="main">
	<MenuReleases></MenuReleases>

	<div class="menu date year items scroll">
	</div>
	<MenuArtists ServiceType=@Enums.ServiceType.Spotify></MenuArtists>
	<MenuPlaylists ServiceType=@Enums.ServiceType.Spotify></MenuPlaylists>

	<div class="content page scroll">
		@Body
	</div>
</div>

@code {

}
