@using JakubKastner.MusicReleases.Services.BaseServices

@implements IDisposable

@inject ISpotifyTaskManagerService TaskManager


@if (VisibleTasks.Any())
{
    <div class="task-overlay">

        @if (VisibleTasks.Any(t => !t.IsRunning))
        {
            <div class="overlay-header">
                <button class="clear-all-btn" @onclick="TaskManager.DismissAllFinished">
                    Clear All
                </button>
            </div>
        }

        @foreach (var task in VisibleTasks)
        {
            <div class="task-card @(task.Failed ? "failed" : "") @(task.IsRunning ? "running" : "finished")">
                <div class="task-header">
                    <span class="task-title">@task.Name</span>
                    @if (!task.IsRunning)
                    {
                        <button class="close-btn" @onclick="() => task.IsOverlayVisible = false">×</button>
                    }
                    else
                    {
                        <div class="spinner"></div>
                    }
                </div>
                <div class="task-status">@task.Status</div>
            </div>
        }
    </div>
}