@inherits LayoutComponentBase
@using MusicReleases.Components.LoggedIn

<div class="classic">
	<Header></Header>
	<div class="main">
		<div class="playlists">
			<Playlists Type=@Enums.Login.Spotify></Playlists>
		</div>
		@Body
	</div>
</div>