<button type ="button" class="playlist" data-menu_type="playlist" data-menu_artist="playlist-id-@PlaylistId">@PlaylistName</button>

@code
{
    [Parameter, EditorRequired]
    public string PlaylistId { get; set; } = string.Empty;
    [Parameter, EditorRequired]
    public string PlaylistName { get; set; } = string.Empty;
}