@if (String.IsNullOrEmpty(_releaseType)) return;

<button type="button" class="@_releaseType.ToLower()" title="View released @_releaseType.ToLower()">
    <i class="fas fa-@_icon" aria-hidden="true"></i>
    <span>@_releaseType</span>
</button>

@code
{
    [Parameter, EditorRequired]
    public JakubKastner.SpotifyApi.Enums.ReleaseType ReleaseType { get; set; }

    private string? _releaseType;
    private string? _icon;

    protected override void OnInitialized()
    {
        _releaseType = ReleaseType.ToString();
        _icon = JakubKastner.MusicReleases.Base.Icons.GetReleases(ReleaseType);
    }
}