/** HEADER
 *  Header menu
 *  Page name
 */

/*.header {
    .left {
        margin-left: $padding;
        padding-left: 0;
    }

    .right {
        margin-right: $padding;
        padding-right: 0;
    }
}*/