<div class="menu releases">
    <button class="icon-text left">
        <span>Music</span>
        <img class="favicon" src="images/favicon.png" alt="R">
        <span>eleases</span>
    </button>
</div>

@code {

}
