@use '../../2_init/1_mixins.scss' as mixins;
@use '../../2_init/3_layout.scss' as layout;


// PRIMARY HEADER


.header.secondary {
    button {
        margin: auto 3px;
        // TODO only logo
        //height: 20px;
    }

    .menu.releases.logo {
        margin: auto;

        button {
            display: flex;
            padding: 0 5px;
            height: auto;

            .favicon {
                margin: auto 0 auto auto;
            }

            span {
                font-size: 20px;
                margin: auto auto auto 5px;
            }
        }
        // text size
        // icon
        .favicon {
            //height: 100%;
            //margin-left: 10px;
            height: 25px;
        }

        &:hover > .favicon {
            animation: spin 2s linear infinite;
        }
    }
}

.main .menu.releases {
    display: flex;
    flex-direction: column;

    .user {
        margin-top: auto;
    }
}

.header.primary {
    display: inline-flex;
    // 1.) page name
    .page-name {
        cursor: context-menu;
        padding: 4px 10px 16px 0;
        display: inline-flex;
        font-weight: 800;
        // text size
        span,
        .favicon {
            font-size: 28px;
        }
        // icon
        .favicon {
            //background: transparent;
            height: layout.$height_header_primary - 10px;
            margin-left: layout.$margin_right_icon;
        }

        &:hover > .favicon {
            animation: spin 2s linear infinite;
        }
    }
    // 2.) releases menu
    // -> 4_menu/_2_releases
    // 3.) actions menu
    .menu.actions {
        margin-left: auto;
    }

    .menu.actions,
    .menu.show-hide,
    .user {
        button {
            height: calc(100% - 2 * #{layout.$padding_button});
        }
    }
    // 4.) user menu
    .user {
        position: relative;

        button {

            i,
            span {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
        // button to show menu
        button.menu.hover {
            display: inline-flex;
        }
        // buttons in menu
        &.menu.items button {
            display: block;
            text-align: left;
        }
        // hover user menu
        &:hover {
            .menu.hover.items {
                display: grid;

                &.hidden {
                    display: none;
                }
            }
        }
        // responsive styles (hide / show content on pc / mobile)
        @include mixins.respond(text) {
            .menu.hover.items {
                width: 150px;
            }
        }
    }
}