@page "/"
@layout LayoutLogin

@using JakubKastner.MusicReleases.Services.BaseServices

@inherits LayoutComponentBase

@inject ILoginService LoginService


@* login user page (first) *@

<h2>Login</h2>

@if (_loading)
{
	<p>Loading...</p>
}
else
{
	<Login></Login>
}