@page "/"
@layout LayoutPublic

@using JakubKastner.MusicReleases.Services.BaseServices

@inject ILoginService LoginService


@* login user page (first) *@

@if (_loading)
{
    <InfoSection Title="Login">
        <p>Loading...</p>
    </InfoSection>
}
else
{
    <InfoSection Title="Login">
        <p>Display releases from your followed artists on Spotify. Filter them by release date or artist name. Add them to your playlist.</p>
        <p>Currently in beta version. Many features coming soon.</p>
    </InfoSection>
    <LoginButtons />
}