@page "/releases/{type?}"
@using JakubKastner.SpotifyApi
@using JakubKastner.SpotifyApi.Objects
@using static JakubKastner.SpotifyApi.Enums
@layout LayoutMain
@inject NavigationManager navManager
@inject IUser spotifyUser

<p>Loading releases...</p>

<button type="button" @onclick="GetReleases">
    Get releases
</button>
<div class="releases boxes">
    <Virtualize Items="@_albums" Context="release">
        <MusicReleases.Web.Components.LoggedIn.Releases.Release ReleaseObj="@release"/>
    </Virtualize>
</div>


@code
{
    [Parameter]
    public string? Type { get; set; }

    // TODO enable to select and display more than 1 release type
    private ReleaseType _type;

    private SortedSet<Album> _albums = new();

    // <DynamicComponent Type=""></DynamicComponent>
    protected override async Task OnInitializedAsync()
    {
        if (spotifyUser.LoggedIn == null)
        {
            navManager.NavigateTo("");
        }
        if (String.IsNullOrEmpty(Type))
        {
            // TODO display all releases and remember last selection
            //navManager.NavigateTo("/releases/albums");
            // TODO if is return here, code doesnt refresh the content
            // TODO but if is not here, code just continue and doesnt get the right Type (for example)
            return;
        }

        try
        {
            _type = Enum.Parse<ReleaseType>(Type);
        }
        catch
        {
            _type = ReleaseType.Albums;
        }

        // TODO loading artists two times???
        // display playlists
        /*if (Api.Spotify.Main.User == null) return;

        var artists = await Api.Spotify.Main.User.GetArtists();*/
    }

    private async Task GetReleases()
    {
        _albums = await spotifyUser.GetReleases();
    }
}