@page "/releases/{type?}"
@using MusicReleases.Api.Spotify.Objects
@using static MusicReleases.Api.Spotify.Enums
@layout LayoutMain
@inject NavigationManager navManager
@inject User spotifyUser

<p>Loading releases...</p>

@code
{
    [Parameter]
    public string? Type { get; set; }

    // TODO enable to select and display more than 1 release type
    private ReleaseType _type;

    // <DynamicComponent Type=""></DynamicComponent>
    protected override async Task OnInitializedAsync()
    {
        if (spotifyUser == null)
        {
            navManager.NavigateTo("");
        }
        if (String.IsNullOrEmpty(Type))
        {
            // TODO display all releases and remember last selection
            navManager.NavigateTo("/releases/albums");
            // TODO if is return here, code doesnt refresh the content
            // TODO but if is not here, code just continue and doesnt get the right Type (for example)
            return;
        }

        try
        {
            _type = Enum.Parse<ReleaseType>(Type);
        }
        catch
        {
            _type = ReleaseType.Albums;
        }

        // TODO loading artists two times???
        // display playlists
        /*if (Api.Spotify.Main.User == null) return;

        var artists = await Api.Spotify.Main.User.GetArtists();*/
    }
}