@page "/releases/{type?}"
@layout LayoutMain

@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Controllers.ApiControllers
@using JakubKastner.MusicReleases.Controllers.ApiControllers.SpotifyControllers
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyArtistsStore
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyReleasesStore
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Releases
@using Meziantou.AspNetCore.Components

@inherits FluxorComponent

@inject ISpotifyWorkflowController _spotifyWorkflowController
@inject IApiLoginController _apiLoginController
@inject IState<SpotifyReleasesState> _stateSpotifyReleases
@inject IState<SpotifyArtistsState> _stateSpotifyArtists


@if (_loading || _releases is null)
{
	<p>Loading releases...</p>
}
else if (_releases.Count < 1)
{
	<p>0 releases</p>
}
else
{
	<div class="releases boxes">
		@foreach (var release in _releases)
		{
			<Release SpotifyRelease="@release" />
		}
	</div>

	@* TODO infinite scrolling - failing here when using fluxor - removing "if" fixes it, but switching between releases failed *@
	@* <div class="releases boxes">
		<InfiniteScrolling ItemsProvider="ProvideReleases">
			<ItemTemplate Context="release">
				<Release SpotifyRelease="@release" />
			</ItemTemplate>
			<LoadingTemplate>
				<div>Loading @Type...</div>
			</LoadingTemplate>
		</InfiniteScrolling>
	</div> *@
}