@page "/releases/{type?}"

@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.ApiServices.SpotifyServices
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyArtistStore
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyReleaseStore
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Releases

@layout LayoutMain

@inherits FluxorComponent

@inject ISpotifyWorkflowService SpotifyWorkflowService
@inject IApiLoginService ApiLoginService
@inject IState<SpotifyReleaseState> SpotifyReleaseState
@inject IState<SpotifyArtistState> SpotifyArtistState
@inject IFilterService FilterService

@if (Loading || LoadingArtists || ReleasesList is null)
{
	<p>Loading releases...</p>
}
else if (ReleasesList.Count < 1)
{
	<p>0 releases</p>
}
else
{

	<div class="releases boxes infinite-scroll">

		<Virtualize Items="@ReleasesList" Context="release">
				<Release SpotifyRelease="@release" />
		</Virtualize>

	</div>
}