@page "/releases/{type?}/{year?}/{month?}/{artistId?}"

@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Services.ApiServices
@using JakubKastner.MusicReleases.Services.ApiServices.SpotifyServices
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyArtistStore
@using JakubKastner.MusicReleases.Store.ApiStore.SpotifyStore.SpotifyReleaseStore
@using JakubKastner.MusicReleases.Store.FilterStore
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Releases

@layout LayoutMain

@inherits FluxorComponent
@implements IDisposable

@inject ISpotifyWorkflowService SpotifyWorkflowService
@inject IApiLoginService ApiLoginService
@inject IState<SpotifyReleaseState> SpotifyReleaseState
@inject IState<SpotifyArtistState> SpotifyArtistState
@inject IState<SpotifyFilterState> SpotifyFilterState
@inject IFilterService FilterService
@inject IDispatcher Dispatcher
@inject ISpotifyFilterUrlService SpotifyFilterUrlService
@inject ISpotifyFilterService SpotifyFilterService
@inject ILoaderService LoaderService

@if (Loading || LoadingArtists || FilteredReleases is null)
{
	<p>Loading releases...</p>
}
else if (FilteredReleases.Count < 1)
{
	<p>0 releases</p>
}
else
{

	<div class="releases boxes infinite-scroll">
		<Virtualize Items="@FilteredReleases" Context="release" ItemSize="91" OverscanCount="5">
			<Release SpotifyRelease="@release" />
		</Virtualize>

	</div>
}