@use '../../2_init/3_layout.scss' as layout;

.main .content.page {

    // box (fe releases box)
    .box {
        padding: layout.$spaces;
        margin-bottom: layout.$spaces;
    }

    width: 100%;
}

.main .content {
    h2 {
        margin: layout.$padding_left_right;
        text-transform: uppercase;
    }

    h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }
}