// PRIMARY HEADER

.main .menu.releases {
    display: flex;
    flex-direction: column;

    .user {
        margin-top: auto;
    }
}

.header.primary {
    display: inline-flex;

    // 1.) page name
    .page-name {
        cursor: context-menu;
        padding: 4px 10px 16px 0;
        display: inline-flex;
        font-weight: 800;

        // text size
        span,
        .favicon {
            font-size: 28px;
        }

        // icon
        .favicon {
            //background: transparent;
            height: $height_header_primary - 10px;
            margin-left: $margin_right_icon;
        }

        &:hover>.favicon {
            animation: spin 2s linear infinite;
        }
    }

    // 2.) releases menu
    // -> 4_menu/_2_releases

    // 3.) actions menu
    .menu.actions {
        margin-left: auto;
    }

    .menu.actions,
    .menu.show-hide,
    .user {
        button {
            height: calc(100% - 2 * #{$padding_button});
        }
    }

    // 4.) user menu
    .user {
        position: relative;

        button {

            i,
            span {
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        // button to show menu
        button.menu.hover {
            display: inline-flex;
        }

        // buttons in menu
        &.menu.items button {
            display: block;
            text-align: left;
        }

        // hover user menu
        &:hover {
            .menu.hover.items {
                display: grid;

                &.hidden {
                    display: none;
                }
            }
        }

        // responsive styles (hide / show content on pc / mobile)
        @include respond(text) {
            .menu.hover.items {
                width: 150px;
            }
        }
    }
}