<div class="tracklist scroll">
    @foreach (var track in Tracks)
    {
        if (DiscsCount > 1 && track.DiscNumber < _lastDisc)
        {
            <div class="disc">
                Disc @track.DiscNumber
            </div>

            _lastDisc = track.DiscNumber;
        }

        <ReleaseTrack Track="@track" />
    }
</div>