@using JakubKastner.SpotifyApi.Objects

<div class="artists icon-text">
	@for (int i = 0; i < ArtistsObj.Count; i++)
	{
		var artist = ArtistsObj.ElementAt(i);

		<a class="artist" href="@artist.UrlApp" rel="noopener noreferrer">
			@artist.Name
		</a>

		@if (i < ArtistsObj.Count - 1)
		{
			<span>•</span>
		}

	}
</div>