@using JakubKastner.SpotifyApi.Objects

<div class="artists icon-text">
	@for (int i = 0; i < ArtistsObj.Count; i++)
	{
		var artist = ArtistsObj.ElementAt(i);

		<button class="artist">
			@artist.Name
		</button>

		@if (i < ArtistsObj.Count - 1)
		{
			<span>•</span>
		}

	}
</div>