.track {

    .name-artists {
        min-width: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        gap: 0;

        .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
            max-width: 100%;
            display: flex;            
            align-self: stretch;
            height: auto;
            align-items: center;
        }

        .artists {
            display: flex;
            flex-direction: row;
            gap: 6px;
            min-width: 0;
            max-width: 100%;
        }
    }

    .number, .explicit, .duration {
        height: 100%;
        align-items: center;
        display: flex;
    }

    .number, .explicit {
        justify-content: center;
    }

    .duration {
        gap: 5px;
    }
}
