@using JakubKastner.SpotifyApi.Objects

<div class="release" @key="SpotifyRelease.Id">
    <div class="cover-info">
        <ReleaseInfo SpotifyRelease="@SpotifyRelease" />
    </div>

    <div class="actions">
        <ReleaseActions SpotifyRelease="@SpotifyRelease" />
    </div>
</div>