<div class="tracklist scroll">

    <Virtualize Items="@Tracks" Context="track">

        @if (DiscsCount > 1 && track.DiscNumber < _lastDisc)
        {
            <div class="disc">
                Disc @track.DiscNumber
            </div>

            _lastDisc = track.DiscNumber;
        }

        <ReleaseTrack Track="@track" @key="track.Id" />
    </Virtualize>

</div>