.cover {
    max-width: 140px;
    max-height: 140px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .artists, .date {
        align-items: center;
    }


    .artists, .date, .properties {
        display: flex;
        flex-direction: row;
    }

    .name {
        font-size: 24px;
    }

    .artists {
        font-size: 20px;
        gap: 5px;
    }

    .date {
        span {
            margin-left: 5px;
            font-size: var(--font-size-1)
        }
    }
}
