@use 'global/mixins' as mixins;

.release-list {
    background-color: var(--color-2);
    padding: 25px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
        
    &.hidden {
        display: none;
    }

    &.track {
    }

    &.playlist {
        &release {
        }

        &track {
            background-color: var(--color-3);
        }
    }
}
