.loader {
    grid-area: loader;
    display: grid;
    width: 100%;
    height: var(--row-loader);
    border-radius: var(--row-loader);
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: -25% 0;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--color-project), var(--color-project));

    &.active {
        animation: loader-animation 3s ease-in-out infinite;
    }
}

@keyframes loader-animation {
    50% {
        background-size: 80%;
    }

    100% {
        background-position: 125% 0;
    }
}
