<div class="logo @LogoClass" @onclick="LogoOnClick" title="@Title">

    @if (DisplayLogoMiddle)
    {
        <span>Music</span>
    }

    <MrIcon Icon="CustomIcon.Logo" Class="logo" />

    @if (!DisplayLogoMiddle)
    {
        <span class="title">Music</span>
    }

    <span>Releases</span>

</div>