@use 'global/layout' as layout;

@mixin base {
    grid-area: logo;
    display: flex;
    color: var(--color-project);
    font-weight: 900;
    user-select: none;
    cursor: default;
}

@mixin public {
    flex-direction: row;
    gap: 7px;
}

@mixin header {
    flex-direction: column;
    gap: 2px;
    padding: 20px;
    justify-content: center;
    align-items: center;

    @include layout.respond(mobile) {
        display: none;
    }

    .title {
        margin-top: 5px;
    }
}

@mixin clickable {
    cursor: pointer;
}

.logo {
    @include base;

    &.public {
        @include clickable;
        @include public;
    }

    &.header {
        @include header;
    }
}
