.logo {
    grid-area: logo;
    display: flex;
    flex-direction: row;
    gap: 7px;
    color: var(--color-project);
    font-weight: 900;
    cursor: default;
    user-select: none;

    &.main-logo {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 2px;

        .title {
            margin-top: 5px;
        }
    }
}
