@using JakubKastner.MusicReleases.Enums

@inject NavigationManager NavManager

<div class="logo @CssClass" @onclick="LogoOnClick">
    @if (DisplayMusic)
    {
        <span>Music</span>
    }
    <MrIcon Type="CustomIcon.Logo" Size="1em" />@* 
     *@<span>Releases</span>
</div>