<div class="menu releases logo buttons-rounded-xl">
	<button class="show-hide icon-text left buttons-rounded-xl">
		@if (DisplayMusic)
		{
			<span>Music</span>
		}
		<img class="favicon" src="images/favicon/favicon-32x32.png" alt="">
		<span>
			Releases
		</span>
	</button>
</div>