<div class="logo @Class" @onclick="LogoOnClick" title="@Title">

    @if (DisplayMusic)
    {
        <span>Music</span>
    }

    <MrIcon Icon="CustomIcon.Logo" Size="1em" />@* 
     *@<span>Releases</span>

</div>