.button {
    font-size: var(--font-size-1);
    color: var(--color-text-1);
    cursor: pointer;
    border: none;
    padding: 18px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    width: fit-content;
    /*
        box-sizing: content-box;
        display: inline-block;
    */

    background-color: var(--color-3);

    &:hover {
        background-color: var(--color-4);
    }

    &.active {
        color: var(--color-text-button);
    }
}
