@use 'global/layout' as layout;
@use 'global/mixins' as mixins;

@mixin chip-divider($side) {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 60%;
    background-color: var(--color-3);
    pointer-events: none;
    #{$side}: 0;
}

.button {
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 7px;
    width: fit-content;
    font-size: var(--font-size-1);
    position: relative;
    white-space: nowrap;
    flex-shrink: 0;
    align-items: center;

    &.hover-text-only {
        @include mixins.hover-active {
            background-color: transparent;
            color: var(--color-project);
        }
    }

    &.xl {
        padding: 18px;
        border-radius: 25px;
    }

    &.rounded {

        &-m {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 16px;
        }

        &-l {
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 16px;
        }

        &-xl {
            font-size: 16px;
            padding: 10px;
            border-radius: 10px;
        }
    }

    color: var(--color-text-1);
    background-color: var(--color-3);

    &.transparent {
        background-color: transparent;
    }

    &.main-menu,
    &.main-menu-more {
        background-color: transparent;

        &.active {
            background-color: transparent;
            color: var(--color-text-1);
        }
    }

    &.main-menu {
        flex-direction: column;
        justify-content: center;
    }

    &.mobile-menu {
        background-color: transparent;
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding: 10px;
        border-radius: 23px;

        &.active {
            background-color: var(--color-project-3);
            color: var(--color-text-1);
        }
    }

    &.fill-width {
        width: 100%;
    }

    &.chips {
        background-color: var(--color-1);

        &.left {
            padding-right: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &::after {
                @include chip-divider(right);
            }
        }

        &.right {
            padding-left: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &::before {
                @include chip-divider(left);
            }
        }

        @include mixins.hover-active {
            color: var(--color-text-1);
            background-color: var(--color-5);
            /*color: var(--color-1);
            background-color: var(--color-project-2);*/
        }

        &.active {
            color: var(--color-1);
            background-color: var(--color-project);

            @include mixins.hover-active {
                background-color: var(--color-5);
                //background-color: var(--color-project-2);
            }
        }
    }

    @include mixins.hover-active {
        background-color: var(--color-4);
    }

    &.active-transparent {
        color: var(--color-project);
    }

    &.active {
        color: var(--color-project);
        background-color: var(--color-4);
    }

    &.flex-fill {
        height: 100%;
        display: flex;

        &-max {
            flex-grow: 1;
        }
    }

    &.show-mobile {
        display: none;

        @include layout.respond(mobile) {
            display: flex;
        }
    }

    &.sidebar-button {
        @include layout.respond(mobile) {
            padding: 5px 30px;
            height: 40px;
        }

        &.date {
            &-year {
                @include layout.respond(mobile) {
                    padding-right: 0;
                }
            }

            &-month {
                padding: 5px 20px;

                @include layout.respond(mobile) {
                    padding: 5px 40px;
                }
            }
        }
    }
}
