.chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 1.9rem;
    border-radius: 999px;

    &.active {
        background-color: var(--color-project);
    }
}
