@using JakubKastner.MusicReleases.Services.BaseServices

@inject IIconService IconService

@typeparam TIcon where TIcon : Enum

<span class="icon-wrapper @Class" style="width:@Size; height:@Size;">
    @((MarkupString)_svgContent)
</span>
