input {
    border: none;
    border-radius: 4px;
    color: var(--color-text-1);
    background-color: var(--color-3);
    padding: 6px;
    font-size: 15px;
    flex: 1;
    flex: 1 1 150px;
    min-width: 0;

    &:active,
    &:focus-visible {
        outline: none !important;
        background-color: var(--color-4);
    }
}
