@use 'global/mixins' as mixins;

.row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    min-height: 50px;
    align-items: center;

    &.track {
        display: grid;
        grid-template-columns: 25px auto 1fr auto 75px;
        align-items: stretch;
    }

    &.playlist-picker {
        &-header {
            flex-wrap: wrap;
            align-content: flex-start;
            flex-shrink: 0;

            @include mixins.hover-active {
                background-color: transparent;
            }
        }
    }

    @include mixins.hover-active {
        background-color: var(--color-4);
    }
}
