<div class="search-input-wrapper @Class">

    <input type="text"
           value="@SearchText"
           @oninput="HandleInput"
           placeholder="@Placeholder"
           class="search" />

    @if (SearchText.IsNotNullOrEmpty())
    {
        <MrButton Class="clean-input" OnClick="@Clear" Title="Clear input">
            <MrIcon Icon="LucideIcon.Delete" />
        </MrButton>
    }

    @ChildContent

</div>