@* header *@
<header class="@TypeString-header header @ClassShow" style="grid-area: @TypeString-header">
    @Header
</header>

@* filter *@
<search class="@TypeString-filter filter @ClassShow" style="grid-area: @TypeString-filter" role="search">
    @if (Loading)
    {
        <p>Loading...</p>
    }
    else
    {
        @Filter
    }
</search>

@* content (list) *@
<nav class="@TypeString-menu menu scroll @ClassShow" style="grid-area: @TypeString-menu" aria-label="@ContentAriaLabel">
    @if (Loading)
    {
        <p>Loading...</p>
    }
    else
    {
        @ChildContent
    }
</nav>