@use '../../../../wwwroot/styles/global/layout' as layout;

.header, .filter {
    display: inline-flex;
    gap: 2px;
    padding: 5px;
}

.header {
}

.filter {
}

.menu {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    min-height: 0
}

@include layout.respond(tablet-mobile) {
    .playlists-header,
    .playlists-filter,
    .playlists-menu {
        &:not(.show) {
            display: none;
        }
    }
}

@include layout.respond(mobile) {
    .artists-header,
    .artists-filter,
    .artists-menu,
    .date-header,
    .date-filter,
    .date-menu {
        &:not(.show) {
            display: none;
        }
    }

    .artists-filter,
    .date-filter {
        background-color: var(--color-3);
    }
}
